<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">Oyunculuk Bölümü</h3>
    <p>Oyunculuk, bir hikayenin tiyatro, televizyon, film, radyo veya mimetikmodu kullanan diğer herhangi bir ortamda bir karakteri benimseyen bir aktör veya aktris tarafından yürürlüğe konulmasını konu alan bir sanat disiplinidir. Oyunculuk Bölümü, mesleğe dair sunduğu metodolojik ve kültürel uygulamalar sayesinde oyuncu olma yolunda ilerleyen öğrencileri sahneye hızlı adapte edebilmek adına birçok uygulamalı eğitimi beraberinde getirir. Özel yetenek sınavı ile birlikte konservatuarlara kabulü sağlanan öğrenciler, Güzel Sanatlar Fakültesi kapsamında yer alan 4 yıllık eğitim süreçlerini tamamladıktan sonra aktör veya aktrist olabilirler.</p>
    <p><strong>Oyunculuğu Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</strong></p>
    <ul>
        <li>Büründüğü karakterleri en etkili şekilde yansıtabilecek yaratıcılığa sahip,</li>
        <li>Ezberleme kabiliyeti yüksek,</li>
        <li>Sahne ve ya stüdyo ışıkları altında durabilecek ve kostümlerin ağırlığına dayanabilecek fiziksel yeterliliğe sahip,</li>
        <li>Uzun saatler çalışabilme temposuna dayanıklı,</li>
        <li>Düzgün bir diksiyon sahibi olmayı önemseyen,</li>
        <li>Yeni bir rol arayan oyuncu olarak, senaryoları okuyup yorumlayabilecek okuma yetkinliğine sahip.</li>
    </ul>

    <h3 class="text-center">Üniversite Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">MİMAR SİNAN GÜZEL SANATLAR ÜNİVERSİTESİ</td>
                <td>2023</td>
                <td>7+0</td>
                <td>1.756</td>
                <td>423,14</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>7+0</td>
                <td>2.537</td>
                <td>426,54</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>7+0</td>
                <td>1.874</td>
                <td>380,58</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>7+0</td>
                <td>2.660</td>
                <td>414,83</td>
            </tr>
            <tr>
                <td rowspan="4">ANADOLU ÜNİVERSİTESİ</td>
                <td>2023</td>
                <td>75+4</td>
                <td>66.661</td>
                <td>367,43</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>75+2</td>
                <td>61.638</td>
                <td>370,69</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>75+2</td>
                <td>67.033</td>
                <td>319,36</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>75+2</td>
                <td>47.000</td>
                <td>360,74</td>
            </tr>
            <tr>
                <td rowspan="4">AFYON KOCATEPE ÜNİVERSİTESİ</td>
                <td>2023</td>
                <td>60+4</td>
                <td>609.908</td>
                <td>269,17</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>554.935</td>
                <td>275,42</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>519.755</td>
                <td>226,59</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>60+2</td>
                <td>418.000</td>
                <td>262,66</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Oyunculuk Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>

  <tr>
    <td>MİMAR SİNAN GÜZEL SANATLAR ÜNİV.</td>
    <td>466,000</td>
    <td>60</td>
    <td>32,00</td>
    <td>17,50</td>
    <td>10,75</td>
    <td>6,75</td>
    <td>9,5</td>
    <td>4,75</td>
    <td>6</td>
    <td>10</td>
  </tr>
  <tr>
    <td>AFYON KOCATEPE ÜNİV.</td>
    <td>359,100</td>
    <td>61</td>
    <td>17,50</td>
    <td>6,25</td>
    <td>6,00</td>
    <td>0,50</td>
    <td>2,25</td>
    <td>0,75</td>
    <td>3</td>
    <td>2</td>
  </tr>
</table>

</div>

</div>




</body>
</html>