<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Astronomi ve Uzay Bilimleri</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Astronomi ve Uzay Bilimleri Bölümü</h2>
    <p>Uzun ve zorlu bir eğitim sürecinden geçirilerek insanlı uzay araştırmalarında görev yapan kişilerdir. Astronot olmak için mühendislik, temel bilimler (fizik, kimya, biyoloji, matematik) ve bilgi teknolojileri alanında en az lisans derecesinde eğitim almış olmak gerekiyor. Astronotların çoğunun bu alanlarda yüksek lisans ya da doktora derecesi var.</p>
    <p>Astronotların aynı zamanda uzaydaki zorlu koşullara (ağırlıksız ortam koşulları, ani basınç değişimleri gibi) dayanabilmesi için fiziksel ve psikolojik olarak sağlıklı olmaları gerekmektedir.</p>
    <p>Uluslararası Uzay İstasyonu’nda görev yapacak astronotların iyi derecede İngilizce ve Rusça bilmesi tercih sebebidir.</p>
    <p>Astronot olmak için gerekli temel koşulları sağlayanlar başvuru yapabilirler. Başvurusu kabul edilen adaylar psikolojik ve fiziksel bazı testlerden geçirildikten sonra mülakata alınırlar. Bu aşamaları geçen adaylar yoğun bir eğitim programına başlamaktadırlar. NASA’da eğitim süreci yaklaşık 2 yıl sürerken, ESA astronot adaylarının 40 aylık bir eğitim sürecini tamamlaması gerekmektedir..</p>
    <p>Yaklaşık 16 ay süren  ESA temel eğitiminde astronot adayları aerodinamik, ağırlıksız ortam araştırmaları, Uluslararası Uzay İstasyonu’nun üzerindeki sistemler, robot uygulamaları hakkında eğitim almaktadırlar. Yaklaşık 1 yıl süren ileri düzey eğitimlerde ise ISS’ye kenetli farklı modüllerin ve ISS’ye mürettebat ve malzeme taşıyan Soyuz uzay araçlarının nasıl kullanılacağını ve kontrol edileceğini öğrenmektedirler. Bunun dışında astronotlar belirli bir göreve özgü eğitimler de alabilmektedirler.</p>
    <h3 class="text-center">Astronot Olmayı Tercih Eden Öğrenci Nitelikleri:</h3>
    <ul>
        <li>Matematik ve Fizik derslerine ilgili olmak.</li>
        <li>Gözlem ve analitik düşünme becerilerine sahip olmak.</li>
        <li>Bedensel dayanıklılığa sahip olmak.</li>
        <li>Bedensel aktivitelere yatkın olmak.</li>
    </ul>
</div>
<div class="container mt-5">
    <h3 class="text-center">Astronomi ve Uzay Bilimleri Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">ANKARA ÜNİVERSİTESİ Astronomi ve Uzay Bilimleri</td>
                    <td>2023</td>
                    <td>40+1</td>
                    <td>231.248</td>
                    <td>331,11897</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>40+1</td>
                    <td>264.972</td>
                    <td>309,78088</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>40+1</td>
                    <td>317.738</td>
                    <td>243,17031</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td rowspan="4">İSTANBUL ÜNİVERSİTESİ Astronomi ve Uzay Bilimleri Puan Türü: SAY</td>
                    <td>2023</td>
                    <td>75+2</td>
                    <td>255.787</td>
                    <td>321,86694</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>75+2</td>
                    <td>268.406</td>
                    <td>308,56833</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>75+2</td>
                    <td>294.180</td>
                    <td>249,43934</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td rowspan="4">ATATÜRK ÜNİVERSİTESİ Astronomi ve Uzay Bilimleri</td>
                    <td>2023</td>
                    <td>30+1</td>
                    <td>435.712</td>
                    <td>276,05931</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>20+1</td>
                    <td>435.833</td>
                    <td>264,27026</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>20+1</td>
                    <td>371.619</td>
                    <td>229,35374</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </tbody>
        </table>


    <h3 class="text-center">Astronomi ve Uzay Bilimleri Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>ANKARA ÜNİ.</td>
    <td>331,118</td>
    <td>40</td>
    <td>28,50</td>
    <td>6,50</td>
    <td>9,50</td>
    <td>9</td>
    <td>23</td>
    <td>2,5</td>
    <td>0,50</td>
    <td>4,25</td>
  </tr>
  <tr>
    <td>ATATÜRK ÜNİ.</td>
    <td>276,059</td>
    <td>31</td>
    <td>23</td>
    <td>9,25</td>
    <td>15</td>
    <td>1,75</td>
    <td>6,75</td>
    <td>6,25</td>
    <td>0,75</td>
    <td>1,75</td>
  </tr>
</table>

</div>

</div>

</body>
</html>
