<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">BEDEN EĞİTİMİ ÖĞRETMENİ</h3>
    <p>Beden eğitimi öğretmeni, anaokulundan lise seviyesine kadar çocuk ve gençler arasında fiziksel aktiviteyi destekleyen oyun ve spor aktiviteleri düzenler. Küçük çocuklar arasında motor beceri ve fiziksel gelişim, daha büyük çocuklar arasında ise uygun egzersiz ve yeme alışkanlıkları geliştirmeyi amaçlar. Beden eğitimi öğretmeninin temel görevi öğrencilerine zinde yaşam temelleri ve pratiklerini öğretmektir.</p>
    <p>Meslek profesyonellerinin diğer sorumlulukları şu başlıklar altında toplanabilir:</p>
    <ul>
        <li>Okul standartlarına göre beden eğitimi derslerini tasarlamak, planlamak ve uygulamak.</li>
        <li>Spor, oyun, ritim ve vücut hareketinin temellerini açıklamak.</li>
        <li>Öğrencileri, ekip çalışmasına, kolektif ve kişisel gelişim hedefleri belirlemeye teşvik etmek.</li>
        <li>Tüm öğrencilerin aynı anda aktif olmasına izin veren yeterli ekipmanı temin etmek.</li>
        <li>Fiziksel eğitim ortamının tüm öğrenciler için temiz, güvenli ve yapıcı olmasını sağlamak.</li>
        <li>Öğrencinin akademik ve kişisel gelişimini değerlendirmek ve ilerleme raporları hazırlamak.</li>
    </ul>
    <p>BEDEN EĞİTİMİ ÖĞRETMENLİĞİ SEÇMEK İSTEYEN ÖĞRENCİLERİN;</p>
    <ul>
        <li>Çeşitli atletik ilgi alanlarına ve farklı fiziksel yeteneklere sahip çeşitli öğrencilere eğitim verebilmek.</li>
        <li>Büyük topluluklar karşısında rahat hareket edebilmek.</li>
        <li>Karmaşık teknikleri basit ifadelerle açıklayabilmek.</li>
        <li>Takım yönetimi ve motivasyonunu sağlayabilmek.</li>
        <li>Çeşitlilik ve farklılıklara duyarlı olmak.</li>
        <li>Mükemmel sözlü iletişim becerisi sergilemek.</li>
        <li>Tempolu bir çalışma ortamına uyum göstermek.</li>
    </ul>
    <h3 class="text-center">Spor Bilimleri Fakültesi Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Kocaeli Üniversitesi Spor Bilimleri Fakültesi</td>
                <td>2023</td>
                <td>70+2</td>
                <td>233.329</td>
                <td>331,41</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>227.523</td>
                <td>335,39</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>174.751</td>
                <td>292,54</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>161.000</td>
                <td>338,75</td>
            </tr>
            <tr>
                <td rowspan="4">Uşak Üniversitesi Spor Bilimleri Fakültesi</td>
                <td>2023</td>
                <td>50+2</td>
                <td>267.523</td>
                <td>324,26</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>254.374</td>
                <td>328,87</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>210.805</td>
                <td>282,62</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>50+2</td>
                <td>174.000</td>
                <td>333,83</td>
            </tr>
            <tr>
                <td rowspan="4">Bartin Üniversitesi Spor Bilimleri Fakültesi</td>
                <td>2023</td>
                <td>40+1</td>
                <td>280.609</td>
                <td>321,68</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>261.399</td>
                <td>327,26</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>40+1</td>
                <td>262.236</td>
                <td>270,78</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Beden Eğitimi Öğretmenliği Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>KOCAELİ ÜNİVERSİTESİ</td>
    <td>331,41</td>
    <td>72</td>
    <td>36,00</td>
    <td>13,75</td>
    <td>12,25</td>
    <td>0,00</td>
    <td>5,00</td>
    <td>7,75</td>
    <td>8,75</td>
    <td>4,75</td>
  </tr>
  <tr>
    <td>BARTIN ÜNİVERSİTESİ</td>
    <td>321,68</td>
    <td>41</td>
    <td>26,25</td>
    <td>12,50</td>
    <td>3,25</td>
    <td>0,00</td>
    <td>6,00</td>
    <td>15,25</td>
    <td>2,5</td>
    <td>6</td>
  </tr>
</table>

</div>

</div>

</body>
</html>