<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coğrafya Öğretmenliği</title>
</head>
<body>
    <h3 class="text-center">COĞRAFYA ÖĞRETMENLİĞİ</h3>
    <p>Coğrafya, Dünya'yı her anlamda inceleyen bir bilim dalıdır. Coğrafya öğretmeni için Dünya'daki bir bölgeyi veya ülkeyi fiziksel, ekonomik, biyolojik, insansal ve siyasal açıdan niteleyen belirleyen gerçeklikler hakkında bilgi sahibi olan kişidir. Coğrafya dersi, lise bir ve ikide zorunlu olarak okutulur, lise üç ve dörtteyse seçilen alana göre seçmeli veya zorunlu olarak okutulabilir. Tamamen sözel ağırlıklı olan liselerdeyse tüm yıllarda zorunlu ders olarak öğretilir.</p>
    <p>Coğrafya öğretmenliği yapacak adaylarda şu özellikler aranır:</p>
    <ul>
        <li>Üst düzeyde akademik yeteneğe,</li>
        <li>Şekil ve uzay ilişkilerini görebilme yeteneğine sahip,</li>
        <li>Sözlü ifade gücüne sahip,</li>
        <li>Sosyal bilimlere ilgili ve bu alanda başarılı,</li>
        <li>Düşüncelerini başkalarına açık bir biçimde aktarabilen,</li>
        <li>İyi bir öğrenme ortamı sağlayabilen,</li>
        <li>Dikkatli, işine özen gösteren,</li>
        <li>Mesleğinin sorunları ile ilgilenen ve çözüm yolları bulmaya çalışan,</li>
        <li>İnsanlarla iyi iletişim kurabilen; sevecen, hoşgörülü, sabırlı,</li>
        <li>Öğrencilerin duygu ve düşüncelerini anlayabilen,</li>
        <li>Kendini geliştirmeye istekli, coşkulu, yaratıcı kimseler olmaları gerekir.</li>
    </ul>
</body>
<h3 class="text-center">Coğrafya Öğretmenliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">GAZİ Üniversitesi Coğrafya Öğretmenliği</td>
                <td>2023</td>
                <td>30+1</td>
                <td>23.339</td>
                <td>397,68563</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>20+1</td>
                <td>24.858</td>
                <td>397,56143</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>20+1</td>
                <td>25.961</td>
                <td>349,33479</td>
            </tr>
            <tr>
                <td rowspan="3">Çanakkale Üniversitesi Coğrafya Öğretmenliği</td>
                <td>2023</td>
                <td>20+1</td>
                <td>47.488</td>
                <td>378,01051</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>20+1</td>
                <td>49.620</td>
                <td>377,67469</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>20+1</td>
                <td>43.432</td>
                <td>333,73717</td>
            </tr>
            <tr>
                <td rowspan="3">Atatürk Üniversitesi Coğrafya Öğretmenliği</td>
                <td>2023</td>
                <td>60+2</td>
                <td>78.892</td>
                <td>361,79657</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>86.817</td>
                <td>358,87410</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>52.897</td>
                <td>327,36051</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Coğrafya Öğretmenliği Yerleştirme Bilgileri</h3>
<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOS</th>
        <th>TYT MAT</th>
        <th>TYT FEN</th>
        <th>AYT EDE</th>
        <th>AYT TAR 1</th>
        <th>AYT COĞ 1</th>
        <th>AYT TAR 2</th>
        <th>AYT COĞ 2</th>
        <th>AYT FEl</th>
        <th>AYT DİN</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
        <td>11</td>
        <td>11</td>
        <td>12</td>
        <td>6</td>
    </tr>
    <tr>
        <td>GAZİ Üniversitesi Coğrafya Öğretmenliği</td>
        <td>397,6856</td>
        <td>30</td>
        <td>27,50</td>
        <td>8,75</td>
        <td>16,75</td>
        <td>0,00</td>
        <td>15,50</td>
        <td>2,50</td>
        <td>4,75</td>
        <td>7,25</td>
        <td>8,50</td>
        <td>8,25</td>
        <td>4,75</td>
    </tr>
    <tr>
        <td>Atatürk Üniversitesi Coğrafya Öğretmenliği</td>
        <td>361,7965</td>
        <td>62</td>
        <td>20,00</td>
        <td>13,75</td>
        <td>-0,75</td>
        <td>0,50</td>
        <td>20,25</td>
        <td>2,50</td>
        <td>3,50</td>
        <td>9,75</td>
        <td>3,50</td>
        <td>5,75</td>
        <td>3,50</td>
    </tr>
</table>



</div>

</html>
