<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diş Hekimliği Fakültesi</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center">Diş Hekimliği Fakültesi</h2>
        <p>Diş hekimliği, tıp alanında ağız ve diş sağlığı üzerine çalışmalar gerçekleştirerek hastaları tedavi edecek, olası problemleri önceden tanıyıp gerekli çözümleri üretecek ve uygulayacak hekimlerin yetiştirilmesini amaçlayan akademik bir tıp disiplinidir. Diş Hekimliği, üniversitelerde Diş Hekimliği Fakültesi kapsamında eğitimi verilmekte olan 5 yıllık bir lisans bölümüdür. Bu bölüm yalnızca Sayısal puan türüne göre öğrenci kabul etmektedir. Diş Hekimleri, ağız ve diş yoluyla sağlık sorunu yaşayan ya da özel olarak kişisel isteğiyle ağız bakımı talebinde bulunan hasta ya da danışanların taleplerine karşı sağlıklı çözümler üreterek gerekli işlemleri ve tedavileri gerçekleştirmekle yükümlü olurlar. Kamuda ve özel sektörde Diş Hekimi ünvanı ile çalışma imkanı bulurlar.</p>
        <p>Diş Hekimliğini Tercih Etmeyi Düşünen Öğrenci nitelikleri:</p>
        <ul>
            <li>Sabırlı ve özverili</li>
            <li>Kuvvetli sosyal ilişkiler kurabilmeye yetenekli</li>
            <li>Üç boyutlu düşünebilen</li>
            <li>Yoğun bedensel çalışma temposuna dayanabilecek niteliklere sahip</li>
            <li>İyi psikomotor becerilere sahip, el göz koordinasyonu sağlam</li>
        </ul>
        <h3 class="text-center">Diş Hekimliği Başarı Tablosu</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">

                <thead>
                    <tr>
                        <th>Üniversite</th>
                        <th>Yıl</th>
                        <th>Kontenjan</th>
                        <th>Başarı Sırası</th>
                        <th>Puanı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">Hacettepe Üniversitesi (Devlet) Diş Hekimliği</td>
                        <td>2023</td>
                        <td>130+4</td>
                        <td>17.354</td>
                        <td>497,40744</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>160+4</td>
                        <td>15.994</td>
                        <td>502,39502</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>150+4</td>
                        <td>16.878</td>
                        <td>439,30889</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>140+4</td>
                        <td>17.300</td>
                        <td>497,40744</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Muğla Sıtkı Koçman Üniversitesi (Devlet) Diş Hekimliği</td>
                        <td>2023</td>
                        <td>60+2</td>
                        <td>35.076</td>
                        <td>476,82111</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>60+2</td>
                        <td>34.192</td>
                        <td>476,85811</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>60+2</td>
                        <td>29.480</td>
                        <td>418,45704</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>40+1</td>
                        <td>27.251</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Kafkas Üniversitesi (Devlet) Diş Hekimliği</td>
                        <td>2023</td>
                        <td>60+2</td>
                        <td>43.644</td>
                        <td>466,37094</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>60+2</td>
                        <td>43.211</td>
                        <td>465,78264</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>60+2</td>
                        <td>36.253</td>
                        <td>409,03311</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>60+2</td>
                        <td>34.048</td>
                        <td>474,58862</td>
                    </tr>
                </tbody>
            </table>

        <h3 class="text-center">Diş Hekimliği Yerleştirme Bilgileri</h3>
            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>HACETTEPE ÜNİ.</td>
    <td>477,865</td>
    <td>130</td>
    <td>35,00</td>
    <td>16,25</td>
    <td>35,75</td>
    <td>18,75</td>
    <td>32,00</td>
    <td>11,50</td>
    <td>11,75</td>
    <td>11,75</td>
  </tr>
  <tr>
    <td>KAFKAS ÜNİ.</td>
    <td>466,37094</td>
    <td>60</td>
    <td>31,25</td>
    <td>13,75</td>
    <td>34,25</td>
    <td>17,50</td>
    <td>32,75</td>
    <td>9,00</td>
    <td>10,50</td>
    <td>8,00</td>
  </tr>
</table>

           </div>
    </div>


    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
