<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eczacılık Fakültesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Eczacılık Fakültesi</h2>
        <p>Eczacılık; ilaçların hazırlanması, dağıtımı ve gözden geçirilip ek klinik hizmetler sağlama bilim ve tekniğini barındıran akademik bir disiplindir. Sağlık sektöründe kullanılan ilaçların birçoğu ilaç firmaları tarafından üretildiği için, profesyonel uygulamalar klinik olarak yönlendirilmektedir. İçinde bulunulan duruma göre eczaneler, eczane topluluğu ya da kurumsal eczane olarak sınıflandırılmaktadır. Kurumsal eczaneler topluluğunda doğrudan hasta bakımı sağlamak klinik eczane olarak kabul edilir.</p>
        <p>Eczacılık Fakültesi, aynı isimli fakülte kapsamında eğitimi verilmekte olan 5 yıllık lisans bölümüdür. Eczacılık Sayısal puan türünden elde edilen sonuca göre tercih edilir.</p>
        <p>Eczacılık Fakültesini Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
        <ul>
            <li>Öncelikle sorumluluk sahibi ve güvenilir</li>
            <li>Analitik düşünme becerisine sahip</li>
            <li>Detay odaklı</li>
            <li>Bir ilacın nasıl kullanılacağını ve yan etkilerinin neler olduğunu hastalara açıklayabilecek iletişim yeteneğine sahip</li>
            <li>Uzun saatler çalışabilecek fiziki yeterliliğe sahip</li>
            <li>Kimyasal bileşikler hakkında bilgi sahibi</li>
            <li>Elektronik sağlık kaydı sistemlerine giriş yapabilecek kadar bilgisayar bilgisine sahip</li>
        </ul>
    </div>

    <div class="container mt-5">

        <div class="table-responsive">
        <h3 class="text-center">Eczacılık Başarı Tablosu</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">HACETTEPE ÜNİVERSİTESİ (devlet)</td>
                    <td>2023</td>
                    <td>120+3</td>
                    <td>35.566</td>
                    <td>476,23845</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>150+4</td>
                    <td>34.356</td>
                    <td>476,66268</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>150+4</td>
                    <td>33.852</td>
                    <td>412,20994</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>140+4</td>
                    <td>31867</td>
                    <td>477.30934</td>
                </tr>
                <tr>
                    <td rowspan="4">HARRAN ÜNİVERSİTESİ (devlet)</td>
                    <td>2023</td>
                    <td>40+1</td>
                    <td>56.192</td>
                    <td>452,09884</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>40+1</td>
                    <td>54.604</td>
                    <td>452,30456</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td rowspan="4">ADIYAMAN ÜNİVERSİTESİ (devlet)</td>
                    <td>2023</td>
                    <td>40+1</td>
                    <td>59.277</td>
                    <td>448,85580</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>80+2</td>
                    <td>57.154</td>
                    <td>449,35402</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>80+2</td>
                    <td>47.694</td>
                    <td>395,05059</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>80+2</td>
                    <td>45.674</td>
                    <td>460.31017</td>
                </tr>
            </tbody>
        </table>
        <h3 class="text-center">Eczacılık Fakültesi Yerleştirme Bilgileri</h3>

            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>HACETTEPE ÜNİV.</td>
    <td>476,23845</td>
    <td>119</td>
    <td>35,00</td>
    <td>16,25</td>
    <td>28,75</td>
    <td>17,50</td>
    <td>28,50</td>
    <td>12,75</td>
    <td>11,75</td>
    <td>8,00</td>
  </tr>
  <tr>
    <td>ADIYAMAN ÜNİV.</td>
    <td>448,85580</td>
    <td>40</td>
    <td>32,50</td>
    <td>11,50</td>
    <td>31,00</td>
    <td>11,00</td>
    <td>30,75</td>
    <td>8,00</td>
    <td>7,25</td>
    <td>10,50</td>
  </tr>
</table>

    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
