<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektrik Elektronik Mühendisliği</title>
</head>
<body>

    <h2 class="text-center">Elektrik Elektronik Mühendisliği</h2>
    <p>Geleceğin teknolojilerinin geliştirilmesine katkıda bulunan Akademik araştırma ve geliştirme projelerinde yer alan elektriğin bulunduğu alanda ve daha geniş alanlardaki dağılımı ile yakından ilgilenen, elektronik aletlerin, iletişim sistemlerinin çalışması ve geliştirilmesi için de denetlemeler yapan Elektronik Mühendislerinin yetiştirildiği bölümdür.</p>
    <p>Elektronik Mühendislerinin öncelikli görevlerinden bir tanesi, kaynakların elektrik üretmesini sağlamaktır. Doğal ya da yapay olarak ayrılan bu kaynaklarda üretilen elektriğin iletimini sağlamak da yine Elektronik Mühendisinin görevidir. Aynı zamanda elektronik cihazlar tasarlar, cihazların bakımı ve güvenliği ile ilgilenir. Söz konusu cihazların tasarımları için ayrılan işgücü maliyetini de mühendisler hesaplar.</p>
    <p>Elektronik Mühendisi olabilmek için üniversitelerin 4 yıllık Elektrik-Elektronik Bölümü mezunu olmak gerekir.</p>
    <p>Elektrik Elektronik Mühendisliği Tercih Etmeyi Düşünen Öğrenci nitelikleri</p>
    <ul>
        <li>Dinamik ekip çalışmasına uyum sağlayabilen,</li>
        <li>Problemleri zamanında ve doğru çözebilen,</li>
        <li>Bilgisayar programları kullanmaya yatkın,</li>
        <li>Yazılım ve kod geliştirme becerisine sahip,</li>
        <li>Yabancı dile meraklı</li>
        <li>Analitik düşünebilen,</li>
        <li>İyi bir fizik ve matematik bilgisine sahip,</li>
    </ul>

<h3 class="text-center">Elektrik Elektronik Mühendisliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Boğaziçi Üniversitesi (Devlet) Elektrik Elektronik Mühendisliği</td>
                <td>2023</td>
                <td>90+3</td>
                <td>1.669</td>
                <td>539,18464</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>90+3</td>
                <td>1.143</td>
                <td>539,42958</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>90+3</td>
                <td>1.047</td>
                <td>505,32347</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>80+2</td>
                <td>714</td>
                <td>542.23147</td>
            </tr>
            <tr>
                <td rowspan="4">Karadeniz Teknik Üniversitesi (Devlet) Elektrik Elektronik Mühendisliği</td>
                <td>2023</td>
                <td>60+2</td>
                <td>66.732</td>
                <td>440,80042</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>71.079</td>
                <td>433,99648</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>76.012</td>
                <td>364,68856</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>50+2</td>
                <td>72.513</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="4">Dicle Üniversitesi (Devlet) Elektrik Elektronik Mühendisliği</td>
                <td>2023</td>
                <td>70+2</td>
                <td>291.392</td>
                <td>310,19591</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>299.065</td>
                <td>298,24564</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>299.625</td>
                <td>247,94581</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>100+3</td>
                <td>298164</td>
                <td>283.82238</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Elektrik Elektronik Mühendisliği Yerleştirme Bilgileri</h3>

           <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BOĞAZİÇİ ÜNİV.</td>
    <td>539,184</td>
    <td>87</td>
    <td>36,25</td>
    <td>17,50</td>
    <td>40,00</td>
    <td>20,00</td>
    <td>38,75</td>
    <td>12,75</td>
    <td>13,00</td>
    <td>11,75</td>
  </tr>
  <tr>
    <td>DİCLE ÜNİV.</td>
    <td>310,195</td>
    <td>71</td>
    <td>17,75</td>
    <td>12,50</td>
    <td>23,75</td>
    <td>3,25</td>
    <td>11,75</td>
    <td>8,00</td>
    <td>0,25</td>
    <td>2,25</td>
  </tr>
</table>

</div>


</body>
</html>