<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endüstri Mühendisliği</title>
</head>
<body>
<h2 class="text-center">Endüstri Mühendisliği</h2>
    <p>Endüstri Mühendisliği, entegre insan, para, bilgi, ekipman, enerji ve malzeme sistemlerini geliştirerek, karmaşık süreçlerin, sistemlerin veya organizasyonların optimizasyonu ile ilgilenen bir mühendislik disiplinidir.</p>
    <p>Üniversitelerde Mühendislik Fakültesi kapsamında eğitimi verilmekte olan 4 yıllık bir lisans bölümüdür. Bu bölüm her mühendislik bölümünde olduğu gibi yalnızca Sayısal puan türüne göre öğrenci kabul etmektedir.</p>

    <p>Endüstri Mühendisliği Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
    <ul>
        <li>Analitik düşünme yönü kuvvetli</li>
        <li>Kaynak, zaman ve emeğin kullanımını azaltmak için yeni üretim süreçleri tasarlayabilecek yaratıcılığı gösteren</li>
        <li>Ekip yönetimini gerçekleştirebilmeye yetenekli</li>
        <li>Temel bilgisayar kullanım bilgisine sahip</li>
        <li>Problem çözme ve zaman yönetimi becerisi gösteren</li>
        <li>Disiplinli çalışma alışkanlığına sahip</li>
    </ul>

<h3 class="text-center">Endüstri Mühendisliği Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">İstanbul Teknik Üniversitesi (devlet) Endüstri Mühendisliği</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>4.111</td>
                    <td>529,98076</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>80+2</td>
                    <td>5.178</td>
                    <td>523,74226</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>80+2</td>
                    <td>7.560</td>
                    <td>462,80752</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>80+2</td>
                    <td>9.160</td>
                    <td>511,70520</td>
                </tr>
                <tr>
                    <td rowspan="4">Yalova Üniversitesi (devlet) Endüstri Mühendisliği</td>
                    <td>2023</td>
                    <td>50+2</td>
                    <td>209.374</td>
                    <td>340,26074</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>60+2</td>
                    <td>144.287</td>
                    <td>369,88865</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>60+2</td>
                    <td>162.709</td>
                    <td>300,42504</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>60+2</td>
                    <td>161.000</td>
                    <td>348,40983</td>
                </tr>
                <tr>
                    <td rowspan="4">Harran Üniversitesi (devlet) Endüstri Mühendisliği</td>
                    <td>2023</td>
                    <td>25+1</td>
                    <td>297.722</td>
                    <td>308,33154</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>20+1</td>
                    <td>284.637</td>
                    <td>302,91956</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>dolmadı</td>
                    <td>dolmadı</td>
                </tr>
            </tbody>
        </table>

        <h3 class="text-center">Endüstri Mühendisliği Yerleştirme Bilgileri</h3>

            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>İSTANBUL TEKNİK ÜNİV.</td>
    <td>529,980</td>
    <td>60</td>
    <td>31,25</td>
    <td>16,50</td>
    <td>37,50</td>
    <td>20,00</td>
    <td>40,00</td>
    <td>14,00</td>
    <td>11,75</td>
    <td>11,75</td>
  </tr>
  <tr>
    <td>HARRAN ÜNİV.</td>
    <td>308,33154</td>
    <td>11</td>
    <td>15,25</td>
    <td>8,75</td>
    <td>20,00</td>
    <td>2,25</td>
    <td>21,25</td>
    <td>2,25</td>
    <td>1,25</td>
    <td>2,25</td>
  </tr>
</table>

    </div>
</body>
</html>