<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">FELSEFE BÖLÜMÜ</h3>
    <p>Felsefe; varoluşun, bilginin, gerçeğin ve ahlakın doğası üzerine yapılan sorgulayıcı çalışmalara verilen genel addır. “Felsefe” Yunanca “bilgelik sevgisi” anlamına gelen kelimelerin kökeninden gelmektedir. Felsefe, insanların dünyayı deneyimleme biçimlerini analiz etmek için mantık ve akıl araçlarını kullanır. Kim olduğumuzla ilgili en temel soruların ele alınmasını içerir ve tarihin genişliğinde günümüze kadar felsefi düşünceyi inceler. Etkili akıl yürütme ve tutarlı argümanlar oluşturma, ikna edici yazma yeteneğinizi geliştirir ve mantıksal ve eleştirel düşüncelerinizi geliştirir. Felsefenin çeşitli alt bölümleri, neden hayal ettiğimizden özgür olup olmayacağına kadar değişen soruları ele almaktadır. Felsefe bölümü, üniversitede sözel kısımdan tercih edebileceğiniz 4 yıllık bir lisans bölümüdür. Felsefe bölümü mezunlarının belli bir ünvanı yoktur.</p>
    <p><strong>FELSEFE BÖLÜMÜNÜ TERCİH ETMEK İSTEYEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>İlgi ve Tutku: Felsefe bölümü, düşünceleri, fikirleri ve insanın evren ve varoluşla ilgili sorularını keşfetmeyi seven öğrencilere hitap eder. Bu nedenle, felsefeye gerçek bir ilgi ve tutku duymanız önemlidir.</li>
        <li>Analitik Düşünme ve Eleştirel Yetenek: Felsefe bölümünde, karmaşık konuları analiz etmek, mantıksal düşünme becerilerinizi kullanmak ve eleştirel bir bakış açısıyla yaklaşmak önemlidir. Bu alanda yetenekliyseniz, felsefe bölümünde başarılı olma olasılığınız daha yüksek olacaktır.</li>
        <li>Okuma ve Yazma Becerileri: Felsefe, klasik metinleri okumayı, anlamayı ve yorumlamayı gerektirir. Dolayısıyla, iyi bir okuma anlama yeteneği ve yazma becerileri felsefe bölümünde başarılı olmanız için önemlidir.</li>
    </ul>
    <h3 class="text-center">Felsefe Bölümü Başarı Tablosu</h3>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">BOĞAZİÇİ ÜNİVERİTESİ FELSEFE BÖLÜMÜ</td>
                    <td>2023</td>
                    <td>45+2</td>
                    <td>4993</td>
                    <td>457.47</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>55+2</td>
                    <td>8229</td>
                    <td>451.457</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>64+2</td>
                    <td>17096</td>
                    <td>381.59</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td rowspan="4">İNÖNÜ ÜNİVERSİTESİ FELSEFE BÖLÜMÜ</td>
                    <td>2023</td>
                    <td>50+2</td>
                    <td>1141296</td>
                    <td>230.25755</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>40+1</td>
                    <td>1.065.107</td>
                    <td>235,69036</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>40+1</td>
                    <td>575.604</td>
                    <td>217,65202</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>40+1</td>
                    <td>780.000</td>
                    <td>228,21753</td>
                </tr>
                <tr>
                    <td rowspan="4">ÇANKIRI KARATEKİN ÜNİVESİTESİ FELSEFE BÖLÜMÜ</td>
                    <td>2023</td>
                    <td>30+1</td>
                    <td>994567</td>
                    <td>194,73827</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>30+1</td>
                    <td>1.476.933</td>
                    <td>206,38188</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>30+1</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>20+1</td>
                    <td>994.000</td>
                    <td>194,73827</td>
                </tr>
            </tbody>
        </table>

<h3 class="text-center">Felsefe Yerleştirme Bilgileri</h3>

<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT.</th>
        <th>TYT FEN</th>
        <th>AYT MAT.</th>
        <th>AYT TÜRKÇE</th>
        <th>AYT TARİH 1</th>
        <th>AYT COĞ 1</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Boğaziçi Üniversitesi Felsefe Bölümü</td>
        <td></td>
        <td></td>
        <td>26,5</td>
        <td>17,5</td>
        <td>34</td>
        <td>10,75</td>
        <td>33,75</td>
        <td>14</td>
        <td>3,75</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Çankırı Karatekin Üniversitesi</td>
        <td>194,738</td>
        <td>31</td>
        <td>11,25</td>
        <td>4,75</td>
        <td>0,00</td>
        <td>2,00</td>
        <td>1,75</td>
        <td>3,5</td>
        <td>-0,25</td>
        <td>3,5</td>
    </tr>
</table>

</div>

</div>


</body>
</html>