<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Havacılık ve Uzay Mühendisliği</title>
</head>
<body>

<div class="container mt-4">
        <h2 class="text-center">Havacılık ve Uzay Mühendisliği</h2>
        <p>Temel mühendislik ilkelerini benimseyen, havacılık ve uzay sektörüne katkı ve fayda sağlayacak, yaratıcı ve donanımlı olacak bireyleri yetiştirerek sektöre kazandırmanın hedeflendiği bir bölümdür. Havacılık ve Uzay Mühendisliği bölümünü tercih etmeyi düşünen öğrencilerde havacılık ve uzay sektörlerine ilgili ve meraklı olması, matematik ve fizik bilimine ilgili, disiplinli çalışabilme özelliğine sahip olması beklenen özelliklerdendir. Havacılık ve Uzay Mühendisliği bölümünde, 4 yıllık lisans eğitimi verilmektedir. Havacılık ve Uzay Mühendisleri sistemleri oluşturan bileşenleri kullanarak AR-GE çalışmaları yapar, araç üretiminde, geliştirilmesinde, analiz edilmesinde ve tasarımında yer alırlar, araçların onarım ve bakımlarını yaparlar.</p>
        <p>Havacılık ve Uzay Mühendisliğini Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
        <ul>
            <li>Havacılık ve uzay sistemlerine karşı ilgili</li>
            <li>Yenilikçi tasarımların geliştirilmesinde yaratıcı</li>
            <li>Problem çözme, yeni sorunlarla başa çıkma ve analitik becerilere sahip</li>
            <li>Ticari farkındalığı yüksek</li>
            <li>İletişim ve takım çalışmasına yatkın</li>
            <li>Zaman yönetimi becerileri yüksek</li>
            <li>Detaylara önem veren</li>
        </ul>


   <h3 class="text-center">Havacılık ve Uzay Mühendisliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">ODTÜ (devlet) Havacılık ve Uzay Mühendisliği</td>
                <td>2023</td>
                <td>74+3</td>
                <td>3366</td>
                <td>532,497</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="4">Tarsus Üniversitesi (Devlet) Havacılık ve Uzay Mühendisliği</td>
                <td>2023</td>
                <td>40+1</td>
                <td>168.586</td>
                <td>360,68853</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>194.331</td>
                <td>340,09698</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>40+1</td>
                <td>205.193</td>
                <td>279,94563</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>4041</td>
                <td>177.458</td>
                <td>337.99990</td>
            </tr>
            <tr>
                <td rowspan="4">İskenderun Teknik Üniversitesi (Devlet) Havacılık ve Uzay Mühendisliği</td>
                <td>2023</td>
                <td>40+1</td>
                <td>223.528</td>
                <td>334,22808</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>229.148</td>
                <td>323,93222</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>40+1</td>
                <td>236.078</td>
                <td>267,68485</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>40+1</td>
                <td>198.550</td>
                <td>325,93113</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Havacılık ve Uzay Mühendisliği Yerleştirme Bilgileri</h3>

            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>ODTÜ</td>
    <td>532</td>
    <td>50</td>
    <td>25,75</td>
    <td>15,00</td>
    <td>32,75</td>
    <td>15,00</td>
    <td>27,00</td>
    <td>11,50</td>
    <td>9,50</td>
    <td>6,75</td>
  </tr>
  <tr>
    <td>İSKENDERUN TEKNİK ÜNİVERSİTESİ</td>
    <td>334,22808</td>
    <td>41</td>
    <td>27,50</td>
    <td>10,00</td>
    <td>22,50</td>
    <td>1,25</td>
    <td>17,75</td>
    <td>2,25</td>
    <td>1,75</td>
    <td>4,50</td>
  </tr>
</table>

</div>



    </div>

</body>
</html>
