<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">İKTİSADİ VE İDARİ BİLİMLER FAKÜLTESİ</h3>
    <p>İktisadi ve İdari Bilimler temel amacı, istatistiksel ve ekonometrik analizler gerçekleştirerek verileri inceleyen donanımlı finans uzmanları ve idareciler yetiştirmektir. Bu programlarda eğitim gören bireyler; matematik, istatistik ve bilgisayar kullanımından faydalanarak kaynakları verimli kullanabilecek ve genel ölçümleri analiz edecek seviyeye ulaşır. İktisadi ve İdari Bilimler arasında şu bölümler yer alır; İktisat, Ekonometri, Maliye, Uluslararası İlişkiler, Çalışma Ekonomisi ve Endüstri İlişkileri. Bu bölümlerde öğrenim gören öğrencilerin genel nitelikleri ise şunlardır; sayısal olarak düşünebilmeye yatkın, insan ilişkilerinde etkili, nicel verileri analiz edebilen, araştırma ve inceleme ile ilgilenen kişilerdir. İktisadi ve İdari Bilimler Bölümü öğrencileri; sayısal verileri ölçümlemeyi öğrenmenin yanı sıra yönetici ve idareci vasıfları da edinecekleri kapsamlı ve çok yönlü bir eğitim alırlar.</p>
    <p><strong>İKTİSAT FAKÜLTESİ TERCİH EDEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>Matematiği sevmeli, analitik düşünebilmeli, bir de hikaye gibi yıllarca anlatılan iktisat tarihini sabırla dinleyebilmeli. Kişisel özellikler açısından işlerin derinine girmekten korkmamayı ve öğrenmekten sıkılmamayı gerektiren bir bölümdür. Çünkü dünya üzerinde doğan ilk ihtiyaçtan itibaren her alışveriş, her insan davranışı ve yaşanmış bütün büyük olayların altında iktisadi bir neden yatar. İktisat da bunu araştırır. İşin ekonomisini öğrenmeye çalışırken bir çok farklı bilimi kullanarak bir çok farklı bakış açısı edinirsiniz. Bu bakış açılarını formüle ederek ifade etmek de matematiksel zekaya sahip olmayı gerektirir. İktisat bölümünden başarılı bir öğrenci olarak mezun olduysanız kısmi olarak bir sosyolog, tarihçi, felsefeci ve tam anlamıyla bir ekonomistsinizdir.</li>
    </ul>
    <h3 class="text-center">İktisat Fakültesi Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Boğaziçi Üniversitesi İktisat Fakültesi</td>
                <td>2023</td>
                <td>100+3</td>
                <td>657</td>
                <td>504,44598</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>100+3</td>
                <td>662</td>
                <td>510,51486</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>100+3</td>
                <td>667</td>
                <td>459,84149</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>100+3</td>
                <td>656</td>
                <td>504,44598</td>
            </tr>
            <tr>
                <td rowspan="4">Ege Üniversitesi İktisat Fakültesi</td>
                <td>2023</td>
                <td>100+3</td>
                <td>217740</td>
                <td>319,84087</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>100+3</td>
                <td>173.749</td>
                <td>350,83974</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>100+3</td>
                <td>189.937</td>
                <td>288,15872</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>100+3</td>
                <td>183.000</td>
                <td>330,96746</td>
            </tr>
            <tr>
                <td rowspan="4">Karabük Üniversitesi İktisat Fakültesi</td>
                <td>2023</td>
                <td>45+2</td>
                <td>831340</td>
                <td>223,62895</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>45+2</td>
                <td>1.081.880</td>
                <td>234,48079</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>45+2</td>
                <td>530.849</td>
                <td>230,02875</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>40+1</td>
                <td>831.000</td>
                <td>223,62895</td>
            </tr>
        </tbody>
    </table>
<h3 class="text-center">İktisadi ve İdari Bilimler Fakültesi Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BOĞAZİÇİ ÜNİVERSİTESİ</td>
    <td>478,013</td>
    <td></td>
    <td>37,50</td>
    <td>17,50</td>
    <td>35,00</td>
    <td>16,50</td>
    <td>38,75</td>
    <td>21,75</td>
    <td>6,5</td>
    <td>1</td>
  </tr>
  <tr>
    <td>KARABÜK ÜNİVERSİTESİ</td>
    <td>393,700</td>
    <td></td>
    <td>21,00</td>
    <td>7,00</td>
    <td>12,25</td>
    <td>-0,25</td>
    <td>-2,75</td>
    <td>6</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>

</div>

</div>

</body>
</html>