<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">KAMU YÖNETİMİ</h3>
    <p>Kamu yönetimi; hükümetlere ait karar mekanizmalarının nasıl çalıştığını halka açıklamaya ve alınan bu kararların yerine getirilmesi aşamasında ihtiyaç duyulan projelerin yönetimi aşamasında çalışmalar yapar. Konu hakkında ileri sürülen çeşitli tanımlardan bazıları şunlardır: "kamu programlarının yönetimi", "siyasetin vatandaşların her gün gördüğü gerçeğe çevrilmesi"; ve "hükümet karar alma çalışmaları, politikaların kendilerinin analizi, bunları üreten çeşitli girdiler ve alternatif politikalar üretmek için gerekli girdiler."</p>
    <p>Kamu yönetimi; hükümet politikasının uygulanması ve aynı zamanda bu uygulamayı inceleyen ve memurları kamu hizmetinde çalışmaya hazırlayan akademik disipline verilen isimdir. Temelinde; "hükümetin işleyebilmesi için yönetimi ve politikaları ilerletmek" amacı yatan "farklı bir kapsamda soruşturma alanı" olarak da tasvir edilir.</p>
    <p>Kamu yönetimi bölümü üniversitelerin İktisadi ve İdari Bilimler Fakültesi kapsamında yer alan 4 yıllık bir lisans bölümüdür.</p>
    <h4>KAMU YÖNETİMİ TERCİH ETMEYİ DÜŞÜNEN ÖĞRENCİLERİN;</h4>
    <ul>
        <li>Kamu bölümünü okuyacak olan öğrencilerin tarih, siyaset, güncel olaylar konusunda bilgi sahibi olması ve sürekli bu olayları takip etmesi gerekir.</li>
        <li>Ezber konusunda sıkıntı yaşayanlara göre bir bölüm değildir. Mezun olunması kolay fakat öğrenerek mezun olması biraz zordur. Kişinin 4 yıl boyunca kendine ne kattığı önemlidir.</li>
        <li>Siyasi yönünü geliştirmek isteyenler için vazgeçilmez bir bölümdür.</li>
        <li>Analiz yapabilen, ikna kabiliyeti yüksek, yalan konuşmayı becerebilen herkese açık bir bölümdür.</li>
    </ul>
    <h3 class="text-center">Kamu Yönetimi Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Dokuz Eylül Üniversitesi Kamu Yönetimi</td>
                <td>2023</td>
                <td>100+3</td>
                <td>322.121</td>
                <td>314,08404</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>100+3</td>
                <td>342.978</td>
                <td>310,94131</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>100+3</td>
                <td>334.941</td>
                <td>257,25641</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>100+3</td>
                <td>269.000</td>
                <td>305,41645</td>
            </tr>
            <tr>
                <td rowspan="4">Atatürk Üniversitesi Kamu Yönetimi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>520.189</td>
                <td>286,00554</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>534.360</td>
                <td>283,27564</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>492.332</td>
                <td>235,16872</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="4">Karadeniz Teknik Üniversitesi Kamu Yönetimi</td>
                <td>2023</td>
                <td>115+0</td>
                <td>605.321</td>
                <td>276,35464</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>110+3</td>
                <td>581.901</td>
                <td>277,77291</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>110+3</td>
                <td>563.355</td>
                <td>223,43974</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>120+3</td>
                <td>476.000</td>
                <td>264,95020</td>
            </tr>
        </tbody>
    </table>
<h3 class="text-center">Kamu Yönetimi Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>DOKUZ EYLÜL ÜNİVERSİTESİ</td>
    <td>314,08404</td>
    <td></td>
    <td>24,25</td>
    <td>10,25</td>
    <td>15,75</td>
    <td>9</td>
    <td>10</td>
    <td>5,25</td>
    <td>1,5</td>
    <td>3</td>
  </tr>
  <tr>
    <td>KARADENİZ TEKNİK ÜNİVERSİTESİ</td>
    <td>276,35464</td>
    <td></td>
    <td>28,75</td>
    <td>10,00</td>
    <td>2,50</td>
    <td>-0,25</td>
    <td>2,50</td>
    <td>9</td>
    <td>2,5</td>
    <td>2,5</td>
  </tr>
</table>

</div>

</div>


</body>
</html>