<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kimyager</title>
</head>
<body>
<h2 class="text-center">Kimyager</h2>
  <p>
    Kimyager, kimyasal bileşikler üzerinde araştırmalar yapar ve bu araştırmaları, yeni ilaç, kozmetik, yiyecek ve içecek gibi ürünler oluşturmak ve geliştirmek için kullanır. Boya, gıda ve eczacılık dahil çeşitli sektörlerde görev alabilen kimyagerin sorumlulukları uzmanlaştığı sahaya göre farklılıklar göstermektedir. Meslek profesyonellerinin genel görev tanımı şu başlıklar altında toplanabilir;
  </p>
  <ul>
    <li>Test yapmak için test çözeltileri, bileşikler ve reaktifler hazırlamak</li>
    <li>Fiziksel veya kimyasal özellikleri, yapıları, ilişkileri, bileşimleri veya reaksiyonları belirlemek için inorganik ve organik bileşikleri analiz etmek</li>
    <li>Bilimsel sonuçları rapor etmek</li>
    <li>Kimyasalların analizi için teknikler geliştirmek</li>
    <li>Araştırma projelerinin analizini yapmak, test sonuçlarını yorumlamak veya standart dışı testler geliştirmek için bilim insanları ve mühendisler ile görüşmek</li>
    <li>Ekipman veya bileşiklerin kontrol edilemeyen dış değişkenler veya çevresel faktörler tarafından kirletilmediğinden emin olmak için aylık kalite kontrol testleri yapmak</li>
    <li>Laboratuvarda kalite kontrolünü sağlamak için kimyasalları ve diğer laboratuvar malzemelerinin son kullanma tarihlerini yakından takip etmek</li>
    <li>Tüm teknolojik ekipmanın çalışır durumda olduğundan emin olmak için laboratuvar araçlarını temizlemek, bakımını yapmak ve ekipmanda ortaya çıkan sorunları gidermek</li>
  </ul>
  <p>
    Kimyager olmak için üniversitelerin dört yıllık eğitim veren Kimya bölümlerinden lisans derecesi ile mezun olma şartı bulunmaktadır.
  </p>
  <p>Kimyagerliği Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
  <ul>
    <li>Karmaşık problemleri araştırıp çözebilecek özgüven ve motivasyona sahip</li>
    <li>Bilimsel olmayan terimleri kullanarak karmaşık problemleri açıklayabilen</li>
    <li>Verileri analiz yapabilen</li>
    <li>Analitik düşünce yapısına sahip</li>
    <li>Bilişim teknolojileri kullanımında yetkinliği bulunan</li>
    <li>Şirket veya harici müşteri tarafından belirlenen talepleri karşılayabilmek için iş önceliklendirme ve organize etme yeteneği gösteren</li>
    <li>Yaratıcılık göstermek ve bağımsız çalışabilmek için inisiyatif kullanma becerisini sergileyen</li>
    <li>Net ve doğru raporlar yazabilen, ekip yönetimini sağlayabilen</li>
  </ul>


<div class="container mt-5">
  <h3 class="text-center">Kimya Üniversite Başarı Tablosu</h3>
    <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Üniversite Adı</th>
        <th>Yıl</th>
        <th>Kontenjan</th>
        <th>Başarı Sırası</th>
        <th>Puanı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4">BOĞAZİÇİ ÜNİVERSİTESİ (devlet ingilizce)<br>Kimya</td>
        <td>2023</td>
        <td>55+2</td>
        <td>19.547</td>
        <td>481,39663</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>65+2</td>
        <td>20.624</td>
        <td>450,47952</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>65+2</td>
        <td>27.676</td>
        <td>375,57694</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>65+2</td>
        <td>28.700</td>
        <td>376,03518</td>
      </tr>
      <tr>
        <td rowspan="4">İSTANBUL TEKNİK ÜNİVERSİTESİ (devlet)<br>Kimya</td>
        <td>2023</td>
        <td>60+2</td>
        <td>48.592</td>
        <td>460,80478</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>70+2</td>
        <td>56.164</td>
        <td>450,47952</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>70+2</td>
        <td>65.133</td>
        <td>375,57694</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>70+2</td>
        <td>84.831</td>
        <td>376,03518</td>
      </tr>
      <tr>
        <td rowspan="4">EGE ÜNİVERSİTESİ (devlet)<br>Kimya</td>
        <td>2023</td>
        <td>80+2</td>
        <td>191.575</td>
        <td>348,61555</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>80+2</td>
        <td>232.901</td>
        <td>322,33552</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>80+2</td>
        <td>274.197</td>
        <td>255,20626</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>80+2</td>
        <td>282.805</td>
        <td>289,22033</td>
      </tr>
      <tr>
        <td rowspan="4">ERZİNCAN BİNALİ YILDIRIM ÜNİVERSİTESİ (devlet)<br>Kimya</td>
        <td>2023</td>
        <td>20+1</td>
        <td>480.151</td>
        <td>268,24028</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>15+1</td>
        <td>484.720</td>
        <td>255,58262</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>15+1</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>15+1</td>
        <td>469.139</td>
        <td>241,42971</td>
      </tr>
    </tbody>
  </table>


<h3 class="text-center">Kimya Yerleştirme Bilgileri</h3>
  <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BOĞAZİÇİ ÜNİ.</td>
    <td>481,39663</td>
    <td>55</td>
    <td>33,75</td>
    <td>16,25</td>
    <td>40,00</td>
    <td>18,75</td>
    <td>36,25</td>
    <td>10,50</td>
    <td>10,50</td>
    <td>8,00</td>
  </tr>
  <tr>
    <td>ERZİNCAN BİNALİ YILDIRIM ÜNİ.</td>
    <td>268,24028</td>
    <td>21</td>
    <td>23,00</td>
    <td>10,50</td>
    <td>7,50</td>
    <td>3,75</td>
    <td>5,50</td>
    <td>6,25</td>
    <td>0,00</td>
    <td>2,25</td>
  </tr>
</table>

    </div>
</div>
</body>
</html>