<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kimya Mühendisliği</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Kimya Mühendisliği</h2>
    <p>Kimya mühendisi, üretim süreçlerine katılacak olan maddelerin daha kullanışlı hale gelmesini sağlar. Kimya mühendisleri; savunma sanayii, uzay araştırmaları, uçak ve havacılık sanayii ile elektronik teknolojisi gibi farklı alanlarda çalışabilir. Kimya mühendisi olmak isteyen kişilerin, üniversitelerin 4 yıllık eğitim veren Kimya Mühendisliği bölümünü bitirmesi gerekir.</p>
    <p>Kimya Mühendisliği Tercih Etmeyi Düşünen Öğrencilerin Nitelikleri:</p>
    <ul>
        <li>Yaşam boyu öğrenmeye devam etmek ve bilimsel alanda sürekli olarak gelişme, mesleki etik ve sorumluluklarının farkında olmak.</li>
        <li>En düşük maliyet ile kaliteli sonuca ulaşabilmek.</li>
        <li>Ekip çalışmasına uygun olması.</li>
        <li>Askerlik hizmetini tamamlamış ya da muaf olması.</li>
    </ul>
</div>

<div class="container mt-5">
    <h3 class="text-center">Kimya Mühendisliği Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                    <td rowspan="4">BOĞAZİÇİ ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>6.071</td>
                    <td>524,41</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>70+2</td>
                    <td>6.490</td>
                    <td>520,44</td>
                </tr>
                <tr>

                    <td>2021</td>
                    <td>70+2</td>
                    <td>7.598</td>
                    <td>462,69</td>
                </tr>
                <tr>

                    <td>2020</td>
                    <td>70+2</td>
                    <td>8.740</td>
                    <td>512,65</td>
                </tr>
                <tr>
                    <td rowspan="4">EGE ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>80+2</td>
                    <td>56.026</td>
                    <td>542,26</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>80+2</td>
                    <td>64.186</td>
                    <td>441,53</td>
                </tr>
                <tr>

                    <td>2021</td>
                    <td>80+2</td>
                    <td>73.735</td>
                    <td>366,91</td>
                </tr>
                <tr>

                    <td>2020</td>
                    <td>80+2</td>
                    <td>79.300</td>
                    <td>421,60</td>
                </tr>
                <tr>
                    <td rowspan="4">ÇANAKKALE ONSEKİZ MART ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>25+1</td>
                    <td>111.151</td>
                    <td>399,61</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>25+1</td>
                    <td>139.796</td>
                    <td>371,08</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>25+1</td>
                    <td>171.536</td>
                    <td>295,78</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>25+1</td>
                    <td>191.000</td>
                    <td>329,63</td>
                </tr>
            </tbody>

        </table>
        <h3 class="text-center">Kimya Mühendisliği Yerleştirme Bilgileri</h3>
      <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BOĞAZİÇİ ÜNİV.</td>
    <td>524,41</td>
    <td>60</td>
    <td>31,25</td>
    <td>17,50</td>
    <td>36,25</td>
    <td>20,00</td>
    <td>36,25</td>
    <td>12,75</td>
    <td>13,00</td>
    <td>11</td>
  </tr>
  <tr>
    <td>ÇANAKKALE ONSEKİZ MART ÜNİV.</td>
    <td>399,61</td>
    <td>25</td>
    <td>24,25</td>
    <td>14,25</td>
    <td>28,25</td>
    <td>14,00</td>
    <td>22,25</td>
    <td>8,50</td>
    <td>6,00</td>
    <td>7,00</td>
  </tr>

</table>


    </div>
</div>



</body>
</html>
