<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">BİLGİ BELGE YÖNETİMİ (KÜTÜPHANECİLİK)</h3>
    <p>Bilgi ve Belge Yönetimi Bölümü; kişi, kurum ya da kuruluşların ihtiyaç duyduğu bilgilerin, sağlayıcılar (kütüphaneler, arşivler ve dokümantasyon merkezi vb.) tarafından elde edilmesi, kayıt altına alınıp muhafaza edilmesi, gereklilik halinde düzenlenmesi ve yeniden ihtiyaç sahiplerinin hizmetine sunulması ile ilgili çalışmalar yapacak yetki sahibi personellerin yetiştirilmesini amaçlayan akademik bir disiplindir.</p>
    <p>Bilginin korunması, kitlelerin erişimine açık olması ve geliştirilebilir hale gelmesi için bu alanda eğitim almış profesyonel kütüphanecilere, bilgi yöneticilerine ve arşivcilere ihtiyaç duyulmaktadır. Bölüm, üniversitelerde eğitimi verilmekte olan 4 yıllık bir lisans bölümüdür. Aynı bölüm bulunduğu fakülte itibariyle bazı değişimler gösterebilir.</p>
    <p><strong>KÜTÜPHANE BÖLÜMÜNÜ TERCİH ETMEYİ DÜŞÜNEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>Kapalı ve sessiz ortamlarda çalışmaktan keyif almalıdır.</li>
        <li>Kitaplarla ve verilerle çalışmaktan keyif almalıdır.</li>
        <li>İnsani ilişkileri iyi olmalı, sözlü ve yazılı iletişim becerileri yüksek olmalıdır.</li>
        <li>Kitapları iyi tanımalı, yazarlar ve kitap kategorileri konusunda bilgi sahibi olmalıdır.</li>
        <li>Yoğun çalışma temposuna ayak uydurabilmelidir.</li>
        <li>Okuma ve araştırma yapmayı sevmelidir.</li>
        <li>MS Office programlarını kullanabilmeli ve temel bilgisayar bilgisine sahip olmalıdır.</li>
        <li>Erkek adayların askerlikle ilişiği bulunmamalıdır.</li>
    </ul>
    <h3 class="text-center">Bilgi ve Belge Yönetimi Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Hacettepe Üniversitesi Bilgi ve Belge Yönetimi</td>
                <td>2023</td>
                <td>70+2</td>
                <td>316535</td>
                <td>294,31214</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>321.045</td>
                <td>314,98024</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>336.729</td>
                <td>256,96203</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>316.000</td>
                <td>294,31214</td>
            </tr>
            <tr>
                <td rowspan="4">İzmir Katip Çelebi Üniversitesi Bilgi ve Belge Yönetimi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>640792</td>
                <td>243,01685</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>636.999</td>
                <td>271,85305</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>587.195</td>
                <td>201,09487</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>50+2</td>
                <td>640.000</td>
                <td>243,01685</td>
            </tr>
            <tr>
                <td rowspan="4">Bartin Üniversitesi Bilgi ve Belge Yönetimi</td>
                <td>2023</td>
                <td>40+1</td>
                <td>877431</td>
                <td>219,70686</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>979.705</td>
                <td>242,00382</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>40+1</td>
                <td>573.461</td>
                <td>219,17886</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>40+1</td>
                <td>877.000</td>
                <td>219,70686</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Bilgi Belge Yönetimi Yerleştirme Bilgileri</h3>
<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT.</th>
        <th>TYT , FEN</th>
        <th>AYT MAT.</th>
        <th>AYT TÜRKÇE</th>
        <th>AYT TARİH 1</th>
        <th>AYT COĞ 1</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Hacettepe Üniversitesi</td>
        <td>294,31214</td>
        <td></td>
        <td>24,75</td>
        <td>12,75</td>
        <td>13,75</td>
        <td>0,00</td>
        <td>10,25</td>
        <td>9,75</td>
        <td>5,75</td>
        <td>2,5</td>
    </tr>
    <tr>
        <td>Bartın Üniversitesi</td>
        <td>219,70686</td>
        <td></td>
        <td>27,00</td>
        <td>10,50</td>
        <td>7,00</td>
        <td>1,00</td>
        <td>3,00</td>
        <td>9</td>
        <td>0</td>
        <td>1,25</td>
    </tr>
</table>


</div>

</div>

</body>
</html>
