<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makine Mühendisliği</title>
</head>
<body>
<div class="container mt-4">
        <h2 class="text-center">Makine Mühendisliği</h2>
        <p>Makine mühendisliği, mekanik sistemler tasarlamak, analiz etmek, üretmek ve bakımını yapmak için mühendislik fiziği ve matematik ilkelerini malzeme bilimi ile birleştiren bir mühendislik disiplinidir. Mühendislik disiplinlerinin en eski ve en genişlerinden biridir. Makine mühendisleri, üretim tesislerini, endüstriyel ekipman ve makineleri, ısıtma ve soğutma sistemlerini tasarlayan, bilgisayar destekli tasarım (CAD) ve bilgisayar destekli üretim (CAM) programlarını kullanarak; ulaşım sistemleri, uçak, deniz taşıtları, robotik tıbbi cihazları, savunma sanayi ürünleri gibi pek çok ürün ve sistemin tasarlanabildiği mühendislik dalıdır.</p>
        <p>Makine Mühendisliği, üniversitelerde Mühendislik Fakültesi kapsamında eğitimi verilmekte olan 4 yıllık bir lisans bölümüdür. Bu bölüm yalnızca Sayısal puan türüne göre tercih edilebilir.</p>
        <p>Makine Mühendisliği Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
        <ul>
            <li>Analitik düşünme kabiliyetine sahip</li>
            <li>Hayal gücüne ve yaratıcılığa sahip</li>
            <li>Düşük seviyede olsa bile el becerisi sahip</li>
            <li>Çözüm üretme ve geliştirme becerisi yüksek</li>
            <li>Matematiksel muhakeme yapabilen</li>
            <li>İyi bir fizik ve kimya bilgisine sahip</li>
            <li>Yüksek iletişim becerisine sahip</li>
            <li>Ekip çalışmasına yatkın</li>
        </ul>

    <h3 class="text-center">Makine Mühendisliği Başarı Tablosu</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Üniversite Adı</th>
                        <th>Yıl</th>
                        <th>Kontenjan</th>
                        <th>Başarı Sırası</th>
                        <th>Puanı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">İstanbul Teknik Üniversitesi (Devlet)</td>
                        <td>2023</td>
                        <td>180+2</td>
                        <td>9.886</td>
                        <td>515,67219</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>200+5</td>
                        <td>13.032</td>
                        <td>507,30000</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>200+5</td>
                        <td>16.356</td>
                        <td>440,40845</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>200</td>
                        <td>12.514</td>
                        <td>484,30490</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Sakarya Üniversitesi (Devlet)</td>
                        <td>2023</td>
                        <td>100+3</td>
                        <td>106.752</td>
                        <td>403,17290</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>100+3</td>
                        <td>125.803</td>
                        <td>383,49045</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>100+3</td>
                        <td>134.188</td>
                        <td>317,55458</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>100+3</td>
                        <td>148.256</td>
                        <td>357,67185</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Tekirdağ Namık Kemal Üniversitesi (Devlet)</td>
                        <td>2023</td>
                        <td>50+2</td>
                        <td>268.167</td>
                        <td>317,62576</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>60+2</td>
                        <td>298.885</td>
                        <td>298,29460</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>60+2</td>
                        <td>299.990</td>
                        <td>247,84960</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>60+2</td>
                        <td>251.726</td>
                        <td>314,71622</td>
                    </tr>
                </tbody>
            </table>


            <h3 class="text-center">Makine Mühendisliği Yerleştirme Bilgileri</h3>

            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>İSTANBUL TEKNİK ÜNİVERSİTESİ</td>
    <td>515,67219</td>
    <td>180</td>
    <td>33,00</td>
    <td>15,50</td>
    <td>35,75</td>
    <td>17,75</td>
    <td>37,50</td>
    <td>12,75</td>
    <td>13,00</td>
    <td>8,75</td>
  </tr>
  <tr>
    <td>TEKİRDAĞ NAMIK KEMAL ÜNİVERSİTESİ</td>
    <td>317,62576</td>
    <td>62</td>
    <td>20,50</td>
    <td>4,50</td>
    <td>21,25</td>
    <td>7,50</td>
    <td>22,50</td>
    <td>8,75</td>
    <td>4,00</td>
    <td>-0,50</td>
  </tr>
</table>

        </div>

    </div>
</body>
</html>