<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
<div class="container mt-5">
    <h3 class="text-center">Matematik Bölümü</h3>
    <p>              Matematik; insan hayatına en fazla etkisi bulunan bilim dalıdır. Matematik, gerçek dünyada meydana gelen problemleri çözmek için yararlıdır. Sayılar, şekiller ve desenler üzerine geçmişten günümüze hesaplama içeren tüm çalışmalara verilen genel addır.

    </p>

    <p>Matematik bölümü sayısal veriler ile beraber analiz yapma ve görsel destekli hesaplamalar yapmayı sağlayan bir bölümdür. İnsan doğasına en çok yararı olan bilim dalları arasında yer alır. Problemleri istatiksel, mantıksal ve sayısal yollar ile çözmeyi amaçlayan bilim dalı olan Matematik bölümünde şekiller ve desenler ön plandadır.Matematik bölümü, geometrik şekiller ve sayısal veriler ile beraber hesaplamalar yapmak ve buna yönelik matematik bilimine hakim olan bireyler yetiştirmek amacıyla kurulmuş olan bir bölümdür. Matematik bölümünün en temel amacı hesaplamaları kolay bir şekilde gerçekleştirme ve sayısal alanlara hakim olabilmektir. Matematik mezunları ne iş yapar şu şekilde sıralanabilir:
</p>
    <ul>

        <li>ARGE, lojistik, üretim, pazarlama ve benzeri alanlarda oluşan bir takım sorunları çözmek için matematik temel ilke ve tekniklerini uygularlar.</li>
        <li>Çalıştıkları kurumun bilgisayar ve ağ sistemini gözden geçirirler ve sorunsuz bir şekilde çalışması için bazı teknikler geliştirirler.</li>
        <li>Laboratuvarlar, uzay bilimi, işletme ve atom enerjisi gibi pek çok alanda matematik metotlarını uygularlar.</li>
        <li>Matematiksel kavramlar, cebir, geometri gibi konularda araştırmalar yaparla,</li>

    </ul>
    <p>Matematik bölümünde okumak isteyenlerin ;</p>
    <ul>

        <li>Ekip çalışmasına yatkın kişiler olması gerekir. </li>
        <li>Dikkatli ve sabırlı olmayı bilenler ve </li>
        <li>Yaratıcı bir kişiliğe sahip</li>
        <li>Düşünme ve karar yetisinin de gelişmiş olması lazım.</li>

    </ul>




<div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">BOĞAZİÇİ Üniv. Matematik (İNGİLİZCE)</td>
                    <td>2023</td>
                    <td>60+4</td>
                    <td>8.302</td>
                    <td>519,13568</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>63+4</td>
                    <td>7.549</td>
                    <td>518,07311</td>
                </tr>
                <tr>

                    <td>2021</td>
                    <td>65+2</td>
                    <td>9.765</td>
                    <td>455,88791</td>
                </tr>
                <tr>

                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">Sakarya Üniv. Matematik</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>250.260</td>
                    <td>323,88016</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>60+2</td>
                    <td>278.559</td>
                    <td>305,03120</td>
                </tr>
                <tr>

                    <td>2021</td>
                    <td>60+2</td>
                    <td>313.962</td>
                    <td>244,12966</td>
                </tr>
                <tr>

                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">IĞDIR ÜNİV. Matematik (İNGİLİZCE)</td>
                    <td>2023</td>
                    <td>50+2</td>
                    <td>441.865</td>
                    <td>274,94006</td>
                </tr>
                <tr>

                    <td>2022</td>
                    <td>40+2</td>
                    <td>504.526</td>
                    <td>252,48296</td>
                </tr>
                <tr>

                    <td>2021</td>
                    <td>40+1</td>
                    <td>358.078</td>
                    <td>233,39211</td>
                </tr>
                <tr>

                    <td>2020</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3 class="text-center">Matematik Yerleştirme Bilgileri</h3>

    <table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT.</th>
        <th>TYT , FEN</th>
        <th>AYT MAT.</th>
        <th>AYT FİZİK</th>
        <th>AYT KİMYA</th>
        <th>AYT BİYO.</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>14</td>
        <td>13</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Boğaziçi Üniversitesi Matematik</td>
        <td>-</td>
        <td>60</td>
        <td>33,75</td>
        <td>17,75</td>
        <td>32,50</td>
        <td>17,50</td>
        <td>37,75</td>
        <td>14,00</td>
        <td>11,75</td>
        <td>11,75</td>
    </tr>
    <tr>
        <td>Iğdır Üniversitesi Matematik</td>
        <td>-</td>
        <td>52</td>
        <td>24,00</td>
        <td>5,50</td>
        <td>16,50</td>
        <td>0,25</td>
        <td>10,50</td>
        <td>0,25</td>
        <td>0,50</td>
        <td>4,50</td>
    </tr>
</table>
</div>
</div>

</body>
</html>