<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matematik Mühendisliği</title>
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center">Matematik Mühendisliği</h2>
    <p>Matematik Mühendisliği, karmaşık gerçek dünya problemlerine matematik uygulama sanatıdır. Matematik teorisini, pratik mühendisliği ve bilimsel hesaplamayı günümüzün teknolojik zorluklarını ele almak için birleştirir. Matematik mühendisliği, tüm diferansiyel denklemi, gerçek ve karmaşık analizi, doğrusal cebiri, fourier analizini ve matematikte çalıştığımız tüm terimi kullanan matematik konularına mühendislik bakış açısının uygulandığı bir çalışma dalıdır.</p>
    <p>Matematik mühendisi; bankacılık ve endüstri gibi sektörlerde meydana gelen ya da gelebilecek olan problemleri analiz eder, sorunların matematik yolu ile çözüm yollarını arayan, geliştiren kişiye verilen mesleki unvandır. Uzun saatler süren analizler gerçekleştirebilen bir matematik mühendisi olmak için bazı eğitim süreçlerini tamamlamak gerekir. Lise mezunu olduktan sonra üniversitelerin ilgili fakültelerinde yer alan Matematik Mühendisliği bölümünden de mezun olunmalıdır. 4 yıllık lisans eğitiminin ardından meslekte ilerlemek isteyenler, yüksek lisans ve doktora yapabilir.</p>
    <p>Matematik Mühendisliği Tercih Etmeyi Düşünen Öğrenci Nitelikleri:</p>
    <ul>
        <li>Sürekli öğrenmeyi seven</li>
        <li>Gelişime açık</li>
        <li>İletişim kurma becerisine sahip</li>
        <li>Dijital kanallara odaklanabilen</li>
        <li>Çözüm üretme, veri analizi ve problem çözmeye yatkın</li>
    </ul>
</div>


<div class="container mt-5">
    <h3 class="text-center">Matematik Mühendisliği Üniversite Başarı Tablosu</h3>
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">İSTANBUL TEKNİK ÜNİVERSİTESİ (devlet)<br>Matematik Mühendisliği</td>
                <td>2023</td>
                <td>50+2</td>
                <td>6.666</td>
                <td>522,96778</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>10.646</td>
                <td>511,66215</td>
                <td></td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>18.238</td>
                <td>436,66205</td>
                <td></td>
            </tr>
            <tr>
                <td>2020</td>
                <td>60+2</td>
                <td>21.751</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="4">YILDIZ TEKNİK ÜNİVERSİTESİ (devlet)<br>Matematik Mühendisliği (İngilizce)</td>
                <td>2023</td>
                <td>70+2</td>
                <td>11.881</td>
                <td>511,62595</td>
                <td></td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>19.614</td>
                <td>496,81636</td>
                <td></td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>34.558</td>
                <td>411,22322</td>
                <td></td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>38.376</td>
                <td>469.19954</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="4">YILDIZ TEKNİK ÜNİVERSİTESİ (devlet)<br>Matematik Mühendisliği</td>
                <td>2023</td>
                <td>100+3</td>
                <td>16.507</td>
                <td>503,50772</td>
                <td></td>
            </tr>
            <tr>
                <td>2022</td>
                <td>100+3</td>
                <td>30.017</td>
                <td>482,20758</td>
                <td></td>
            </tr>
            <tr>
                <td>2021</td>
                <td>100+3</td>
                <td>43.145</td>
                <td>400,43601</td>
                <td></td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>38.376</td>
                <td>469.19954</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Matematik Mühendisliği Yerleştirme Bilgileri</h3>

            <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>İSTANBUL TEKNİK ÜNİ.</td>
    <td>522,96778</td>
    <td>50</td>
    <td>35,00</td>
    <td>13,75</td>
    <td>33,75</td>
    <td>18,75</td>
    <td>38,75</td>
    <td>12,75</td>
    <td>13,00</td>
    <td>11,75</td>
  </tr>
  <tr>
    <td>YILDIZ TEKNİK ÜNİ.</td>
    <td>503,50772</td>
    <td>70</td>
    <td>32,50</td>
    <td>11,25</td>
    <td>36,25</td>
    <td>20,00</td>
    <td>37,75</td>
    <td>11,50</td>
    <td>13,00</td>
    <td>10,75</td>
  </tr>
</table>

    </div>
</div>
</body>
</html>