<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">İngiliz Dili ve Edebiyatı</h3>
    <p>İngiliz Dili ve Edebiyatı, üniversitelerde Fen Edebiyat ya da İnsan ve Toplum Bilimleri Fakültesi kapsamında eğitimi verilmekte olan 4 yıllık bir lisans bölümüdür. Bölüm yalnızca Dil türünden puan kategorisinden tercih edilebilir.  İngiliz Dili ve Edebiyatı Bölümü, İngilizceyi iyi bilen, temel filolojik bilgileri kavrayan ve çeviri, edebiyat teorisi ve İngilizceyi öğretme konusunda bilimsel çalışma için gerekli becerileri edinen geniş bir bilgi yelpazesine sahip İngiliz filoloji uzmanlarını hazırlamayı amaçlamaktadır.  </p>
    <p> Mezunlar çeviri Ofisleri, Yayınevleri, Spor Kulüpleri, Özel Televizyon Kanalları, Uluslararası Şirketler, Küresel Sivil Toplum Örgütleri, Eğitim Kurumları gibi alanlarda iş bulabilir. Öğretmenlik unvanını formasyon eğitimi ile aldıktan sonra hem özel sektörde hem de kamuda çalışabilirler. Şirketlerin ya da bazı sektörlerde mütercim tercümanlık da yapabilirler. Bazı gazetelerde yine editörlük de yapabilmektedirler. Mezunlar için yabancı şirketlerde de çalışma şansları vardır. Özel sektörde iş imkanları aynı şekilde kamu sektörü gibi oldukça fazladır.
</p>



    <h3 class="text-center">İngiliz Dili ve Edebiyatı Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">BOĞAZİÇİ Üniv. İngiliz Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>2.943</td>
                    <td>497,09830</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>65+2</td>
                    <td>2.364</td>
                    <td>499,63599</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>65+2</td>
                    <td>2.528</td>
                    <td>466,02580</td>

                </tr>
                <tr>
                    <td rowspan="3">Kütahya DUMLUPINAR Üniv. İngiliz Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>80+2</td>
                    <td>35.090</td>
                    <td>383,99323</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>80+2</td>
                    <td>33.786</td>
                    <td>372,40329</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>80+2</td>
                    <td>31.096</td>
                    <td>338,58911</td>

                </tr>
                <tr>
                    <td rowspan="3">KAFKAS Üniv. İngiliz Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>75.042</td>
                    <td>298,71900</td>

                </tr>
                <tr>
                    <td>2022</td>
                    <td>60+2</td>
                    <td>60.552</td>
                    <td>304,76120</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>60+2</td>
                    <td>59.657</td>
                    <td>252,91103</td>

                </tr>
            </tbody>
        </table>
    <h3 class="text-center">İngiliz Dili ve Edebiyatı Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT.</th>
        <th>TYT FEN</th>
        <th>YDT DİL</th>

    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>80</td>


    </tr>
    <tr>
        <td>Boğaziçi Üniversitesi İngiliz Dili ve Edebiyatı</td>
        <td>497,09830</td>
        <td>-</td>
        <td>28,75</td>
        <td>17,50</td>
        <td>19,00</td>
        <td>15,00</td>
        <td>77,50</td>

    </tr>
    <tr>
        <td>Kafkas Üniversitesi İngiliz Dili ve Edebiyatı</td>
        <td>298,71900</td>
        <td>-</td>
        <td>16,25</td>
        <td>5,00</td>
        <td>1,25</td>
        <td>0,25</td>
        <td>42,50</td>

    </tr>
</table>

</div>

</div>


</body>
</html>