<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">PİSKOLOJİK DANIŞMANLIK VE REHBERLİK</h3>
    <p>Rehberlik ve Psikolojik Danışmanlık programı öğrencilere çalışmaları boyunca teorik bilgi ve pratik eğitim sağlar. Programın amacı, bireylerin akademik, profesyonel, kişisel ve sosyal ihtiyaçlarına cevap vermeye hazır psikolojik danışmanlar üretmektir.</p>
    <p>Bu program, öğrencilerin problemleri öngörmek ve önlemek, potansiyellerini keşfetmek ve zenginleştirmek ve problemlerle başa çıkmak için gerekli becerileri geliştirebilmeleri için öğrencilerin danışmanlık ilişkilerinin doğası hakkındaki farkındalığını arttırmayı amaçlamaktadır.</p>
    <p><strong>PDR TERCİH ETMEYİ DÜŞÜNEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>İyi bir iletişim kabiliyeti sergilemek,</li>
        <li>Danışanlara karşı empatik bir tutum sergilemek,</li>
        <li>Ağır duygusal durumlar karşısında dirençli olmak,</li>
        <li>Stres yönetme kabiliyetine sahip olmak.</li>
    </ul>
    <p>Gibi kabiliyetleri olması beklenir.</p>

    <h3 class="text-center">PDR (Psikolojik Danışmanlık ve Rehberlik) Bölümü Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">BOĞAZİÇİ ÜNİVERSİTESİ PDR</td>
                <td>2023</td>
                <td>60+2</td>
                <td>5.430</td>
                <td>454,97</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>7.914</td>
                <td>452,67</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>12.551</td>
                <td>389,75</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>7.090</td>
                <td>446,89</td>
            </tr>
            <tr>
                <td rowspan="4">DOKUZ EYLÜL ÜNİVERSİTESİ PDR</td>
                <td>2023</td>
                <td>80+2</td>
                <td>80.129</td>
                <td>380,82</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>80+2</td>
                <td>91.843</td>
                <td>382,51</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>80+2</td>
                <td>77.792</td>
                <td>27331,52</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>80+2</td>
                <td>51.300</td>
                <td>389,60</td>
            </tr>
            <tr>
                <td rowspan="4">TRABZON ÜNİVERSİTESİ PDR</td>
                <td>2023</td>
                <td>70+2</td>
                <td>135.038</td>
                <td>358,53</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>152.159</td>
                <td>358,14</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>125.271</td>
                <td>309,56</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>91.000</td>
                <td>368,47</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">PDR Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BOĞAZİÇİ ÜNİVERSİTESİ</td>
    <td>454,97</td>
    <td>72</td>
    <td>34,00</td>
    <td>11,50</td>
    <td>34,50</td>
    <td>9,50</td>
    <td>27,50</td>
    <td>17.00</td>
    <td>6,75</td>
    <td>3,75</td>
  </tr>
  <tr>
    <td>TRABZON ÜNİVERSİTESİ</td>
    <td>358,53</td>
    <td>72</td>
    <td>32,50</td>
    <td>13,75</td>
    <td>11,50</td>
    <td>2,25</td>
    <td>16,00</td>
    <td>13,50</td>
    <td>5.25</td>
    <td>1,00</td>
  </tr>
</table>

</div>

</div>


</body>
</html>