<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">PSİKOLOJİ</h3>
    <p>Psikoloji, kısaca davranış ve zihin bilimi olarak adlandırılır. Psikoloji biliminde, bilinçli ve bilinçsiz olayların, duygu ve düşüncelerin incelenmesi söz konusudur. Psikoloji yelpazesi geniş bir bilim dalıdır ve kişisel gelişim, sağlık, spor, sosyal davranış gibi birçok alt dalı vardır.</p>
    <p>Psikoloji, üniversitelerde eğitim verilen 4 yıllık bir lisans bölümüdür. Bu alandan mezun olmuş yetkin kişiye “psikolog” unvanı verilir ve sosyal, davranışsal ve bilişsel bir bilim adamı olarak sınıflandırılabilirler. Psikologlar, zihinsel işlevlerin bireysel ve sosyal davranıştaki rolünü anlamaya çalışırken, bilişsel işlevlerin ve davranışların altındaki fizyolojik ve biyolojik süreçleri de araştırırlar.</p>
    <p><strong>Psikoloji bölümünü tercih etmesi için gereken özellikler;</strong></p>
    <ul>
        <li>Yüksek gözlem kabiliyetine sahip olmak ve olayların farklı yönlerini görmek,</li>
        <li>Bireyleri yargılamamak ya da küçümsememek,</li>
        <li>Bireylerle ilişkiyi dışına çıkmamak,</li>
        <li>Sürekli kendini geliştirme ve psikoloji ile ilgili yayınları takip etmek,</li>
        <li>Bireylerin diline uyum sağlayabilmek ve anlattıklarını anlayabilmek,</li>
        <li>Yüksek konsantrasyon sahibi olmak,</li>
        <li>Psikoloji dışında felsefe, antropoloji ve sosyoloji gibi alanlara da ilgi duymak,</li>
        <li>Yeni geliştirilen test ve teknikleri takip etmek.</li>
    </ul>
    <h3 class="text-center">Psikoloji Bölümü Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">HACETTEPE ÜNİVERİSTESİ PSİKOLOJİ BÖLÜMÜ</td>
                <td>2023</td>
                <td>80+2</td>
                <td>4.388</td>
                <td>461,75950</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>100+3</td>
                <td>6.906</td>
                <td>456,72988</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>100+3</td>
                <td>12.688</td>
                <td>389,50688</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="4">DÜZCE ÜNİVERSİTESİ PSİKOLOJİ BÖLÜMÜ</td>
                <td>2023</td>
                <td>60+2</td>
                <td>122.935</td>
                <td>362,86554</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>131.047</td>
                <td>365,91363</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>129.602</td>
                <td>307,88762</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="4">BİNGÖL ÜNİVERSİTESİ PSİKOLOJİ BÖLÜMÜ</td>
                <td>2023</td>
                <td>90+3</td>
                <td>198.777</td>
                <td>339,68105</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>90+3</td>
                <td>199.477</td>
                <td>343,00868</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>90+3</td>
                <td>192.247</td>
                <td>287,52251</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Psikoloji Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>HACETTEPE ÜNİ.</td>
    <td>480,315</td>
    <td></td>
    <td>32,75</td>
    <td>16,5</td>
    <td>23,5</td>
    <td>16,75</td>
    <td>28,75</td>
    <td>18</td>
    <td>6,75</td>
    <td>3</td>
  </tr>
  <tr>
    <td>BİNGÖL ÜNİ.</td>
    <td>410,636</td>
    <td></td>
    <td>25,5</td>
    <td>8,75</td>
    <td>17,75</td>
    <td>4,75</td>
    <td>15</td>
    <td>13,25</td>
    <td>1,75</td>
    <td>1,5</td>
  </tr>
</table>

</div>

</div>


</body>
</html>