<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ressam</title>
</head>
<body>
<h2 class="text-center">Ressam</h2>
  <p>
   Resim, dünya tarihinin en eski sanat dallarından bir tanesi olup, aynı zamanda ilk çağlardan günümüze birçok merak edilen konunun aydınlatılmasında önemli rol oynayan, nesilden nesile kültürden kültüre aktarımın sağlanmasını sağlayan en önemli iletişim araçlarından bir tanesidir de denilebilir. Resim bölümü ise tüm bu kültürün, geleneklerin, tarzların geçmişten geleceğe aktarılmasını, yorumlanmasını ve yeni eserlerin kitlelere sunulmasını sağlamak adına adayların hayal güçleri ile teknik bilgiyi birleştirmeyi amaçlayan bir alandır.
Resim, üniversitelerde Güzel Sanatlar Fakültesi kapsamında eğitimi verilmekte olan ve yalnızca özel yetenek sınavı ile öğrenci kabul eden 4 yıllık bir lisans programıdır.
  </p>
<p>Resim Öğretmenliği Bölümünü Tercih Etmeyi Düşünen Öğrenci nitelikleri;

 </p>
<ul>

    <li>Sanatasal bir bakış açısına sahip,</li>

    <li>Gördüğünü ve hayal ettiğini çizebilme yeteneğine sahip,</li>
    <li>Yüksek konsantrasyonlu,</li>
    <li>Hayal gücü geniş.,</li>

  </ul>






<div class="container mt-5">
  <h3 class="text-center">Ressam Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">EGE ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>70+2</td>
                    <td>869.415</td>
                    <td>301,10</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>70+2</td>
                    <td>873.215</td>
                    <td>293,51</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">KOCAELİ ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>40+2</td>
                    <td>1.344.308</td>
                    <td>266,52</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>40+1</td>
                    <td>1.295.379</td>
                    <td>262,70</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">KÜTAHYA DUMLUPINAR ÜNİVERSİTESİ</td>
                    <td>2023</td>
                    <td>35+2</td>
                    <td>1.975.059</td>
                    <td>230,16</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>35+1</td>
                    <td>1.977.861</td>
                    <td>227,54</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

<h3 class="text-center">Ressam Yerleştirme Bilgileri</h3>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>2023</th>
            <th>Yerleşen Son Kişi</th>
            <th>Yer</th>
            <th>TYT Türkçe</th>
            <th>TYT Sosyal</th>
            <th>TYT Mat.</th>
            <th>TYT Fen</th>

        </tr>
    </thead>
    <tbody>
    <tr>
            <td></td>
            <td>OBP</td>
            <td></td>
            <td>40</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>

        </tr>
        <tr>
            <td>EGE ÜNİVERSİTESİ</td>
            <td>301,10</td>
            <td>72</td>
            <td>25,75</td>
            <td>11,50</td>
            <td>2,25</td>
            <td>-0,25</td>
        </tr>
        <tr>
            <td>KÜTAHYA DUMLUPINAR ÜNİVERSİTESİ</td>
            <td>230,16</td>
            <td>37</td>
            <td>4,50</td>
            <td>1,50</td>
            <td>2,00</td>
            <td>-0,25</td>
        </tr>
    </tbody>
</table>


    </div>
</div>
</body>
</html>