<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">SOSYAL BİLGİLER ÖĞRETMENLİĞİ</h3>
    <p>Sosyal Bilgiler Öğretmenliği, ilk ve orta seviyede öğrenim gören öğrencilere coğrafya ve tarih üzerine eğitim veren öğretmenlerin yetiştirildiği akademik bir disiplindir. Sosyal bilgiler; yurttaşlık bilimi, coğrafya, genel tarih ve inkılap tarihini barındırmaktadır. Sosyal Bilgiler Öğretmenliği, üniversitelerde Eğitim Fakültesi kapsamında eğitimi verilmekte olan 4 yıllık bir lisans bölümüdür. Bu bölüm yalnızca Sözel puan türüne göre öğrenci kabul etmektedir.</p>
    <p><strong>SOSYAL BİLGİLER ÖĞRETMENLİĞİ TERCİH ETMEYİ DÜŞÜNEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>Sözel alana yatkın olması ve öğrenmeyi sevmesi gerekmektedir.</li>
        <li>Araştırmacı ve disiplinli olması gerekmektedir.</li>
        <li>Etkili iletişim becerilerine sahip olması gerekmektedir.</li>
    </ul>
    <h3 class="text-center">Sosyal Bilgiler Öğretmenliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Yıldız Teknik Üniversitesi Sosyal Bilgiler Öğretmenliği</td>
                <td>2023</td>
                <td>50+2</td>
                <td>36.252</td>
                <td>385.85695</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>39.600</td>
                <td>384.55109</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>35.152</td>
                <td>340.32209</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>50+2</td>
                <td>33.032</td>
                <td>372.09299</td>
            </tr>
            <tr>
                <td rowspan="4">Bolu Abant İzzet Baysal Üniversitesi Sosyal Bilgiler Öğretmenliği</td>
                <td>2023</td>
                <td>50+2</td>
                <td>84.634</td>
                <td>359,77</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>84.634</td>
                <td>359,77447</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>69.810</td>
                <td>317,96693</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>50+2</td>
                <td>54.000</td>
                <td>356,12823</td>
            </tr>
            <tr>
                <td rowspan="4">KAFKAS ÜNİVERSİTESİ Sosyal Bilgiler Öğretmenliği</td>
                <td>2023</td>
                <td>50+2</td>
                <td>136.776</td>
                <td>341,71432</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>147.023</td>
                <td>339,05048</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>123.545</td>
                <td>296,82424</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Sosyal Bilgiler Yerleştirme Bilgileri</h3>
<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT</th>
        <th>TYT FEN</th>
        <th>AYT EDE</th>
        <th>AYT TAR 1</th>
        <th>AYT COĞ 1</th>
        <th>AYT TAR 2</th>
        <th>AYT COĞ 2</th>
        <th>AYT FEL</th>
        <th>AYT DİN</th>
    </tr>
    <tr>
        <td></td>
        <td>-</td>
        <td>-</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
        <td>11</td>
        <td>11</td>
        <td>12</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Yıldız Teknik Üniversitesi</td>
        <td>385.85695</td>
        <td>51</td>
        <td>28,00</td>
        <td>13,75</td>
        <td>1,00</td>
        <td>0,00</td>
        <td>14,75</td>
        <td>7,5</td>
        <td>2,25</td>
        <td>8,5</td>
        <td>2,25</td>
        <td>8,25</td>
        <td>3,75</td>
    </tr>
    <tr>
        <td>Kafkas Üniversitesi</td>
        <td>357,966</td>
        <td>52</td>
        <td>36,25</td>
        <td>15,25</td>
        <td>6,50</td>
        <td>0</td>
        <td>15,25</td>
        <td>2,75</td>
        <td>0</td>
        <td>3</td>
        <td>6</td>
        <td>4</td>
        <td>2,5</td>
    </tr>
</table>


</div>

</div>


</body>
</html>