<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">SINIF ÖĞRETMENLİĞİ</h3>
    <p>Sınıf Öğretmenliği bölümü bir lisans programıdır ve bölümün amacı çağa uygun ve modern olarak nitelendirilebilecek öğretmenleri yetiştirerek bulundukları eğitim kurumlarındaki öğrencilerine en iyi eğitimi gösterebilecek kişileri yetiştirerek eğitim sektörüne ve öğrencilere fayda sağlamaktır. Sınıf öğretmeninin, çocukların pedagojik gelişimine katkı sağlaması beklenir. Milli Eğitim Bakanlığı tarafından belirlenen müfredata uygun olarak eğitim ve öğretim vermesi gereken sınıf öğretmeninin, başlıca görevleri şöyle sıralanır;</p>
    <ul>
        <li>Çocuklara okuma ve yazma öğretmek,</li>
        <li>Çocukların matematik ve fen bilgisi gibi alanlarda temel bilgileri edinmesini sağlamak,</li>
        <li>Müfredatın öngördüğü bilgileri ve becerileri çocuklara kazandırmak,</li>
        <li>Başarısızlığı ya da uyumsuzluğu olan çocukları tespit etmek ve rehberlik servisi ile görüşmek,</li>
        <li>Öğrencilerin öğrenme kapasitelerindeki farklılıkları algılamak,</li>
        <li>Çocukların akıl yürütme becerisini geliştirmeye çalışmak,</li>
        <li>Çağdaş eğitim metotlarından yararlanmak.</li>
    </ul>
    <p><strong>SINIF ÖĞRETMENLİĞİ TERCİH ETMEYİ DÜŞÜNEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>Sınıf öğretmenlerinde olması beklenen ilk nitelik, çocuklar ile iyi ve seviyeli bir iletişim geliştirmektir.</li>
        <li>Dayanıklı, disiplinli ve özverili olmak,</li>
        <li>Zamanı kullanmayı bilmek,</li>
        <li>Düzgün diksiyon ve etkili hitabete sahip olmak,</li>
        <li>Çocukların sorunlarını anlayacak düzeyde psikoloji bilmek,</li>
        <li>Öğrencilerin velileri ile iletişim kurabilmek,</li>
        <li>Öğrenmeyi ve öğretmeyi seven, sorumluluk sahibi olması beklenir.</li>
    </ul>
    <h3 class="text-center">Sınıf Öğretmenliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">HACETTEPE ÜNİVERSİTESİ SINIF ÖĞRETMENLİĞİ</td>
                <td>2023</td>
                <td>59+2</td>
                <td>49.069</td>
                <td>397,50</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>67.088</td>
                <td>394,72</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>64.615</td>
                <td>338,87</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>80+2</td>
                <td>64.600</td>
                <td>382,01</td>
            </tr>
            <tr>
                <td rowspan="4">DİCLE ÜNİVERSİTESİ SINIF ÖĞRETMENLİĞİ</td>
                <td>2023</td>
                <td>50+1</td>
                <td>72.167</td>
                <td>384,67</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>93.461</td>
                <td>381,77</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>40+1</td>
                <td>84.902</td>
                <td>327,58</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>40+1</td>
                <td>70.900</td>
                <td>378,57</td>
            </tr>
            <tr>
                <td rowspan="4">BALIKESİR ÜNİVERSİTESİ SINIF ÖĞRETMENLİĞİ</td>
                <td>2023</td>
                <td>50+2</td>
                <td>93.015</td>
                <td>374,98</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>110.541</td>
                <td>374,21</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>101.240</td>
                <td>319,72</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>60+2</td>
                <td>97.000</td>
                <td>365,58</td>
            </tr>
        </tbody>
    </table>
<h3 class="text-center">Sınıf Öğretmenliği Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>HACETTEPE ÜNİVERSİTESİ</td>
    <td>397,50</td>
    <td>72</td>
    <td>32,50</td>
    <td>11,25</td>
    <td>19,25</td>
    <td>2,25</td>
    <td>24,50</td>
    <td>20,25</td>
    <td>1.75</td>
    <td>1,00</td>
  </tr>
  <tr>
    <td>BALIKESİR ÜNİVERSİTESİ</td>
    <td>374,98</td>
    <td>52</td>
    <td>28,25</td>
    <td>15,00</td>
    <td>23,00</td>
    <td>0,00</td>
    <td>17,25</td>
    <td>14,50</td>
    <td>3,25</td>
    <td>2.25</td>
  </tr>
</table>

</div>

</div>

</body>
</html>