<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarih Öğretmenliği</title>
</head>
<body>
    <h3 class="text-center">TARİH ÖĞRETMENLİĞİ</h3>
    <p>Tarih öğretmenliği, tarih derslerinin verilmesi ve öğrencilerin tarih bilgisini geliştirmeyi amaçlayan bir meslektir. Tarih öğretmenleri, öğrencilere geçmişteki olayları, insanları ve toplumları anlatır ve öğrencilere geçmişin bugünü nasıl etkilediğini anlatır. Ayrıca, tarih öğretmenleri öğrencilere tarih yazma ve araştırma becerileri kazandırmaya da yardımcı olur.</p>
    <p>Tarih öğretmenliği, öğrencilerin tarih bilgisini geliştirmeyi amaçlar ve bu nedenle tarih öğretmenleri, öğrencilere tarih derslerini verirken çeşitli yöntemler kullanır. Bu yöntemler arasında, anlatım, tartışma, öğrenci sunumları ve öğrenci araştırmaları yer alır. Tarih öğretmenleri ayrıca, öğrencilere tarih yazma ve araştırma becerileri kazandırmaya da yardımcı olur.</p>
    <p>Tarih öğretmenliği yapacak adaylarda şu özellikler aranır:</p>
    <ul>
        <li>Çağdaş eğitim ve öğretim metotlarını takip etmek,</li>
        <li>Öğrencilerin akademik farklılıklarını ve ihtiyaçlarını anlayabilmek,</li>
        <li>İyi ve etkili öğrenme için gerekli olan sınıf ortamını sağlamak,</li>
        <li>Öğrencilerin düşünme ve öğrenme kabiliyetlerini geliştirmek.</li>
    </ul>
<h3 class="text-center">Tarih Öğretmenliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">Gazi Üniversitesi Tarih Öğretmenliği</td>
                <td>2023</td>
                <td>30+1</td>
                <td>16.677</td>
                <td>405,92082</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>20+1</td>
                <td>20.199</td>
                <td>402,93045</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>20+1</td>
                <td>23.717</td>
                <td>351,91487</td>
            </tr>
            <tr>
                <td rowspan="3">Necmettin Erbakan Üniversitesi Tarih Öğretmenliği</td>
                <td>2023</td>
                <td>20+1</td>
                <td>51.925</td>
                <td>375,31386</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>20+1</td>
                <td>55.068</td>
                <td>374,43291</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>20+1</td>
                <td>52.964</td>
                <td>327,32433</td>
            </tr>
            <tr>
                <td rowspan="3">Atatürk Üniversitesi Tarih Öğretmenliği</td>
                <td>2023</td>
                <td>50+2</td>
                <td>105.245</td>
                <td>351,61873</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>50+2</td>
                <td>101.457</td>
                <td>353,32069</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>50+2</td>
                <td>75.998</td>
                <td>315,0201</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Tarih Öğretmenliği Yerleştirme Bilgileri</h3>
<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOS</th>
        <th>TYT MAT</th>
        <th>TYT FEN</th>
        <th>AYT EDE</th>
        <th>AYT TAR 1</th>
        <th>AYT COĞ 1</th>
        <th>AYT TAR 2</th>
        <th>AYT COĞ 2</th>
        <th>AYT FEL</th>
        <th>AYT DİN</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
        <td>11</td>
        <td>11</td>
        <td>12</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Gazi Üniversitesi Tarih Öğretmenliği</td>
        <td>-</td>
        <td>30</td>
        <td>18,00</td>
        <td>14,00</td>
        <td>14,00</td>
        <td>1,00</td>
        <td>19,50</td>
        <td>6,25</td>
        <td>4,75</td>
        <td>6,25</td>
        <td>5,00</td>
        <td>7,50</td>
        <td>5,00</td>
    </tr>
    <tr>
        <td>Atatürk Üniversitesi Tarih Öğretmenliği</td>
        <td>-</td>
        <td>52</td>
        <td>23,25</td>
        <td>6,75</td>
        <td>0,00</td>
        <td>0,00</td>
        <td>10,75</td>
        <td>7,75</td>
        <td>3,50</td>
        <td>6,25</td>
        <td>3,50</td>
        <td>7,25</td>
        <td>5,0</td>
    </tr>
</table>

</div>

</body>
</html>
