<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tıp Teknisyeni</title>
</head>
<body>
    <h2 class="text-center">Acil Tıp Teknisyeni (ATT)</h2>
    <p>Acil tıp teknisyeni, acil durum çağrılarına cevap vermek, tıbbi hizmetler sunmak ve hastaları sağlık kuruluşlarına nakletmekle görevli kişiye verilen mesleki unvandır. Acil tıp teknisyenin sorumlulukları şunlardır;</p>
    <ul>
        <li>Eğitim sırasında öğrenilen ve doktorlardan alınan talimatları izlemek,</li>
        <li>İlaçları oral yoldan vermek ya da damar yoluyla uygulamak,</li>
        <li>Hastaları nakil için stabil hale getirmek,</li>
        <li>Taşıma için hastayı ambulansta emniyete almak,</li>
        <li>Acil bir doğum gerçekleştiği durumlarda doğuma yardımcı olmak,</li>
        <li>Yarayı kapatmak ve kanamayı durdurmak,</li>
        <li>Hastaya oksijen desteği sağlamak,</li>
        <li>Hastaları bir sağlık kuruluşunun acil servisine aktarmak,</li>
        <li>İlk yardım tedavisini devralan hastane personeline kaza yeri gözlemlerini rapor etmek,</li>
        <li>Kullandıktan sonra ekipmanı kontrol etmek, kullanılmış malzemeleri değiştirmek veya temizlemek,</li>
        <li>Gerektiği takdirde ambulansı sürmek.</li>
    </ul>
    <p>Acil tıp teknisyeni olmak için, Sağlık Meslek Liselerinin dört yıllık eğitim veren Acil Tıp Teknisyeni branşından mezun olma şartı bulunmaktadır.</p>

    <p>Tıp Teknisyeni Tercih Etmeyi Düşünen Öğrenci nitelikleri</p>
    <ul>
        <li>Hastayı ambulansa nakledebilecek fiziksel yeterliliğe sahip,</li>
        <li>Özellikle hayati tehlikesi bulunan veya zihinsel problemlere sahip hastalara duygusal destek sağlayabilecek empatik yaklaşımı sergileyen,</li>
        <li>Yoğun çalışma temposuna uyum sağlayabilen,</li>
        <li>Ekibin bir parçası olarak aktif sorumluluk yüklenebilen,</li>
        <li>Stresli durumlarda etkili kararlar verebilen,</li>
        <li>Sözlü iletişim becerisine sahip.</li>
    </ul>

   <div class="container mt-5">
       <h3 class="text-center">Acil Tıp Teknisyeni Başarı Tablosu</h3>
       <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Üniversite Adı</th>
        <th>Yıl</th>
        <th>Kontenjan</th>
        <th>Başarı Sırası</th>
        <th>Puanı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4">HACETTEPE ÜNİVERSİTESİ (devlet) <br> Ilk ve Acil Yardım</td>
        <td>2023</td>
        <td>70+2</td>
        <td>234.625</td>
        <td>387,91950</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>70+2</td>
        <td>229.650</td>
        <td>386,77856</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>70+2</td>
        <td>189.925</td>
        <td>340,58701</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td rowspan="4">ANKARA ÜNİVERSİTESİ (devlet) <br> Ilk ve Acil Yardım</td>
        <td>2023</td>
        <td>65+2</td>
        <td>293.839</td>
        <td>373,67755</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>65+2</td>
        <td>286.696</td>
        <td>371,92195</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>65+2</td>
        <td>254.018</td>
        <td>322,07272</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>65+2</td>
        <td>225.864</td>
        <td>338,70586</td>
      </tr>
      <tr>
        <td rowspan="4">GÜMÜŞHANE ÜNİVERSİTESİ (devlet) <br> Ilk ve Acil Yardım</td>
        <td>2023</td>
        <td>65+2</td>
        <td>614.009</td>
        <td>325,57803</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>65+2</td>
        <td>572.316</td>
        <td>324,08972</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>65+2</td>
        <td>479.966</td>
        <td>281,90348</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>65+2</td>
        <td>396.882</td>
        <td>301,88549</td>
      </tr>
    </tbody>
  </table>


  <h3 class="text-center">Tıp Teknisyenliği Yerleştirme Bilgileri</h3>
       <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>HACETTEPE ÜNİ.</td>
    <td>490,250</td>
    <td>70</td>
    <td>30,25</td>
    <td>8,75</td>
    <td>23,50</td>
    <td>0,75</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>GÜMÜŞHANE ÜNİ.</td>
    <td>354,193</td>
    <td>65</td>
    <td>26,25</td>
    <td>7,00</td>
    <td>2,00</td>
    <td>5,50</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


       </div>

</div>
</body>
</html>
