<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MİMARLIK FAKÜLTESİ</title>
</head>
<body>
    <div class="container mt-5">
        <h3 class="text-center">SİYASET BİLİMİ VE ULUSLAR ARASI İLİŞKİLER</h3>
        <p>Siyaset Bilimi ve Uluslararası İlişkiler bölümünde, verilen eğitim doğrultusunda siyaset bilimi ve uluslararası ilişkilere ait temel kavramları vermenin yanı sıra toplumsal iş hayatına da ilişkin sosyal ve ekonomik konularda da araştırmalar yaptırmaktadır.Bu bölüm öğrencilere dünyada gerçekleşmiş olan ve gerçekleşiyor olan siyası kavramları inceleyebilecek, araştırma yapabilecek öğrenciler yetiştirmektir.
</p>
        <h4>Siyaset Bilimi bölümünü tercih etmeyi düşünen kişilerde</h4>
        <ul>
            <li>Ulusların siyasi olaylarına, siyaset tarihine,</li>
            <li>Politikaya ilgili olması,</li>
            <li>Araştırmacı ruhlu ve disiplinli olması aranan özellikler arasındadır.</li>
        </ul>
    </div>
 <h3 class="text-center">Siyaset Bilimi ve Uluslarası İlişkiler Üniversite Başarı Tablosu</h3>
<div class="table-responsive">
   <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">Boğaziçi Üniv. Siyaset Bilimi ve Uluslararası İlişkiler</td>
                    <td>2023</td>
                    <td>85+3</td>
                    <td>1.180</td>
                    <td>498,79631</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>90+3</td>
                    <td>1.128</td>
                    <td>500,78134</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>90+3</td>
                    <td>1.137</td>
                    <td>446,81774</td>

                </tr>
                <tr>
                    <td rowspan="3">Necmettin Erbakan Üniversitesi Siyaset Bilimi ve Uluslararası İlişkiler</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>516.679</td>
                    <td>286,42243</td>

                </tr>
                <tr>
                    <td>2022</td>
                    <td>60+2</td>
                    <td>526.358</td>
                    <td>284,25171</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>60+2</td>
                    <td>542.528</td>
                    <td>228,13069</td>

                </tr>
                <tr>
                    <td rowspan="3">Kahraman Maraş Sütçü İmam Üniversitesi Siyaset Bilimi ve Uluslararası İlişkiler</td>
                    <td>2023</td>
                    <td>60+2</td>
                    <td>1.218.234</td>
                    <td>224,75253</td>

                </tr>
                <tr>
                    <td>2022</td>
                    <td>60+2</td>
                    <td>931.789</td>
                    <td>245,67104</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>60+2</td>
                    <td>584.462</td>
                    <td>206,43289</td>

                </tr>
            </tbody>
        </table>
    <h3 class="text-center">Siyaset Bilimi ve Uluslarası İlişkiler Yerleştirme Bilgileri</h3>

<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOS</th>
        <th>TYT MAT.</th>
        <th>TYT FEN</th>
        <th>AYT MAT</th>
        <th>AYT TÜRK.</th>
        <th>AYT TAR 1</th>
        <th>AYT COĞ 1</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Boğaziçi Üniversitesi Siyaset Bilimi ve Uluslararası İlişkiler</td>
        <td>498,79631</td>
        <td>-</td>
        <td>36,50</td>
        <td>20,00</td>
        <td>26,00</td>
        <td>6,75</td>
        <td>32,50</td>
        <td>21,50</td>
        <td>10,00</td>
        <td>4,75</td>
    </tr>
    <tr>
        <td>Kahraman Maraş Sütçü İmam Üniversitesi Siyaset Bilimi ve Uluslararası İlişkiler</td>
        <td>224,75253</td>
        <td>-</td>
        <td>15,75</td>
        <td>11,25</td>
        <td>0,50</td>
        <td>0,00</td>
        <td>0,00</td>
        <td>4,75</td>
        <td>3,00</td>
        <td>1,0</td>
    </tr>
</table>

</div>

</body>
</html>
