<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">ULUSLAR ARASI TİCARET</h3>
    <p>Uluslararası Ticaret bölümünün amacı, yeni gelişen ticaret yöntemlerine kolay ayak uydurup, mesleki hayatında etkili bir şekilde kullanabilen ve çalıştığı kurumu finansal açıdan geliştirebilecek öğrencileri yetiştirip sektöre kazandırmaktır. Uluslararası Ticaret bölümünde öğrencilere 4 yıllık lisans eğitimi verilir. Bölümden mezun olabilmek öğrenciler zorunlu stajlarını tamamlamaları gerekmektedir ve 240 AKTS kotasını doldurmaları istenmektedir.</p>
    <p><strong>ULUSLAR ARASI TİCARET TERCİH ETMEK İSTEYEN ÖĞRENCİLERİN;</strong></p>
    <ul>
        <li>Uluslararası Ticaret bölümü mezunu bireyler işi için başvurduğu şirketlerin aradığı özellikler disiplinli, lider, sorumluluk sahibi, iletişim becerisi yüksek, ekip çalışmasına uygun, sosyal becerileri gelişmiş olması aranan özelliklerden bazılarıdır.</li>
    </ul>
    <h3 class="text-center">Uluslararası Ticaret Bölümü Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">BOĞAZİÇİ ULUSLAR ARASI TİCARET BÖLÜMÜ</td>
                    <td>2023</td>
                    <td>50+2</td>
                    <td>1.123</td>
                    <td>499,91045</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td rowspan="3">BALIKESİR ULUDAĞ ÜNİVERSİTESİ ULUSLAR ARASI TİCARET BÖLÜMÜ</td>
                    <td>2023</td>
                    <td>50+2</td>
                    <td>398,110</td>
                    <td>265,78</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
            </tbody>
        </table>
    <h3 class="text-center">Uluslarası Ticaret Yerleştirme Bilgileri</h3>
<table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOSYAL</th>
        <th>TYT MAT.</th>
        <th>TYT , FEN</th>
        <th>AYT MAT.</th>
        <th>AYT TÜRKÇE</th>
        <th>AYT TARİH 1</th>
        <th>AYT COĞ 1</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Boğaziçi Üniversitesi</td>
        <td></td>
        <td></td>
        <td>31,25</td>
        <td>18,75</td>
        <td>32,50</td>
        <td>18,75</td>
        <td>31,25</td>
        <td>22,75</td>
        <td>5,00</td>
        <td>6,00</td>
    </tr>
    <tr>
        <td>Balıkesir Uludağ Üniversitesi</td>
        <td>265,78</td>
        <td></td>
        <td>16,25</td>
        <td>7,50</td>
        <td>16,75</td>
        <td>4,75</td>
        <td>4,25</td>
        <td>4,00</td>
        <td>1,75</td>
        <td>1,50</td>
    </tr>
</table>


</div>

</div>

</body>
</html>