<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">VETERİNERLİK</h3>
    <p>Veteriner hekim, evcil hayvan, çiftlik hayvanları ve diğer hayvanların tıbbi durumlarını inceler, hastalıklarını teşhis ve tedavi eder. Veteriner hekimin temel görevi, hayvan yaralanma ve hastalıklarını cerrahi işlemler, röntgen ve ultrason cihazları dahil olmak üzere çeşitli tıbbi ekipmanlar aracılığıyla tedavi etmektir.</p>
    <p>Meslek profesyonellerinin diğer sorumlulukları şunlardır:</p>
    <ul>
        <li>Hastalık ve enfeksiyonlara karşı hayvanlara aşı yapmak.</li>
        <li>Sağlık sorunlarını teşhis etmek için hayvanları incelemek, muayene ve analiz için vücut dokusu, kan, idrar örneği almak.</li>
        <li>Hayvanları cerrahi veya tıbbi olarak tedavi ederek sağlıklarına kavuşturmak.</li>
        <li>Hayvanları test ederek kuduz, brusella gibi hastalıkları önlemek ya da tedavi etmek.</li>
        <li>Yaşlı ve ölümcül hastalığı olan hayvanlara ötenazi uygulamak.</li>
        <li>Hayvan sahiplerine sağlık önlemleri, beslenme ve genel bakım hakkında tavsiyelerde bulunmak.</li>
        <li>Hayvan ölümlerinin nedenlerini belirlemek için araştırmalar yapmak.</li>
        <li>Temizlik ve yeterliliklerini belirlemek için hayvan barınaklarını incelemek.</li>
        <li>Hayvan kayıtlarını tutarak, hastalıkları kamu sağlığı görevlilerine bildirmek.</li>
        <li>Hayvanlardan insanlara bulaşabilecek hastalıklar hakkında kamuyu bilgilendirmek.</li>
        <li>Hastalıkların diğer hayvanlara veya insanlara yayılmasını önlemek amacıyla, geçerli yönetmeliklere uygun karantina ortamını sağlamak.</li>
        <li>Veteriner hekimlik uygulamaları hakkındaki güncel bilgileri takip etmek.</li>
        <li>Mesleğin etik kurallarına uygun bir şekilde çalışmak.</li>
    </ul>
    <p>VETERİNERLİK TERCİH ETMEK İSTEYEN ÖĞRENCİLERİN;</p>
    <ul>
        <li>Cerrahi manevralar yapabilecek el kabiliyetine sahip olmak.</li>
        <li>Hayvan sahiplerinin endişelerini dinleyebilmek ve empati kurabilmek.</li>
        <li>Hayvan sahipleriyle görüşerek, hayvanın gereksinim duyduğu yardımı belirleyebilme yeteneğine sahip olmak.</li>
        <li>Tanının ne olduğunu ve tedavinin nasıl uygulanacağını net bir şekilde açıklayabilecek sözlü iletişim kabiliyetine sahip olmak.</li>
        <li>Problem çözme yeteneği sergileyebilmek.</li>
    </ul>
    <h3 class="text-center">Veteriner Fakülteleri Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Ankara Üniversitesi Veteriner Fakültesi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>53.240</td>
                <td>455,36</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>49.281</td>
                <td>458,45</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>47.571</td>
                <td>395,19</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>60+2</td>
                <td>50.000</td>
                <td>455,21</td>
            </tr>
            <tr>
                <td rowspan="4">Çukurova Üniversitesi Veteriner Fakültesi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>134.726</td>
                <td>382,00</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>117,428</td>
                <td>390,27</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>111.073</td>
                <td>334,14</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>60+2</td>
                <td>118.000</td>
                <td>381,90</td>
            </tr>
            <tr>
                <td rowspan="4">Siirt Üniversitesi Veteriner Fakültesi</td>
                <td>2023</td>
                <td>70+2</td>
                <td>217.243</td>
                <td>336,85</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>70+2</td>
                <td>178.464</td>
                <td>348,56</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>70+2</td>
                <td>157.005</td>
                <td>303,68</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>70+2</td>
                <td>180.000</td>
                <td>336,03</td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-center">Veterinerlik Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>ANKARA ÜNİVERSİTESİ</td>
    <td>455,36</td>
    <td>62</td>
    <td>37,50</td>
    <td>14,50</td>
    <td>34,00</td>
    <td>14,25</td>
    <td>24,25</td>
    <td>9,75</td>
    <td>9,50</td>
    <td>8,00</td>
  </tr>
  <tr>
    <td>SİİRT ÜNİVERSİTESİ</td>
    <td>336,85</td>
    <td>72</td>
    <td>24,25</td>
    <td>6,75</td>
    <td>22,25</td>
    <td>7,75</td>
    <td>18,75</td>
    <td>4,75</td>
    <td>1,50</td>
    <td>5,50</td>
  </tr>
</table>

</div>

</div>


</body>
</html>