<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ressam</title>
</head>
<body>
<h2 class="text-center">Türk Dili ve Edebiyatı</h2>
  <p>
   Türk Dili ve Edebiyatı, Türk dilinin genel yapısını, tarih içerisinde yaşamış olduğu gelişimi ve diğer dünya dilleri ile sahip olduğu bağlantıyı ve Türk Edebiyat tarihinin geçmişten günümüze dek yaşadığı evrimi inceleyen bir bölümdür. Dil ve edebiyat, halkların ve halkları oluşturan insanların en önemli unsurlarından bir tanesi olan dil hakkında genel bir bilince sahip olması konusunda büyük rol oynar.Bölüm mezunu olan kişiler edebiyat öğretmeni olarak görev yapabilir.
  </p>
<p>
Bununla birlikte, Türk Dili ve Edebiyatı mezunları yazılı ve sözlü iletişim becerilerine sahip oldukları için halkla ilişkiler, reklamcılık veya iletişim sektöründe de başarılı olabilirler. İletişim ajanslarında medya ilişkileri uzmanı, içerik yazarı veya sosyal medya yöneticisi gibi pozisyonlarda çalışabilirler.

 </p>

<p>Türk Dili ve Edebiyatı bölümünden mezun olanlar ayrıca çevirmenlik veya tercümanlık yapabilirler. Yabancı dillerle Türkçe arasında yazılı veya sözlü çeviri yaparak uluslararası ilişkilerde veya şirketler arasında iletişimi sağlarlar. Bu işi serbest çalışarak veya çeviri bürolarında, büyükelçilik veya konsolosluklarda çalışarak yapabilirler.</p>
<p>Mezunlar ayrıca kültür ve turizm sektöründe de farklı işleri üstlenebilirler. Müzelerde rehberlik yapabilir, turizm şirketlerinde kültür turları düzenleyebilir veya turizm danışmanlığı yapabilirler. Türkiye'nin zengin kültürel mirasının tanıtılması ve korunması konusunda önemli bir rol oynayabilirler.
</p>
<p> Türk Dili ve Edebiyatı bölümü mezunları, aynı zamanda gazeteci veya yazar olarak da kariyer yapabilirler. Gazetelerde, dergilerde veya online haber sitelerinde gazetecilik yaparak haberleri araştırır, yazılar yazar veya editörlük yapabilirler. Yayımlanmış kitaplar veya romanlar da yazabilirler. Kendi yazılarını veya araştırmalarını yayımlamak için bloglarını veya internet sitelerini kullanabilirler.
</p>



<div class="container mt-5">
  <h3 class="text-center">Türk Dili ve Edebiyatı Başarı Tablosu</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Üniversite Adı</th>
                    <th>Yıl</th>
                    <th>Kontenjan</th>
                    <th>Başarı Sırası</th>
                    <th>Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">MARMARA Üniv. Türk Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>20+1</td>
                    <td>6.816</td>
                    <td>425,50287</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>20+1</td>
                    <td>8.523</td>
                    <td>423,26286</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>20+1</td>
                    <td>8.944</td>
                    <td>377,47648</td>

                </tr>
                <tr>
                    <td rowspan="3">DOKUZ EYLÜL Üniv. Türk Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>20+1</td>
                    <td>24.866</td>
                    <td>396,10326</td>

                </tr>
                <tr>
                    <td>2022</td>
                    <td>20+1</td>
                    <td>27.778</td>
                    <td>394,63576</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>20+1</td>
                    <td>22.993</td>
                    <td>352,80830</td>

                </tr>
                <tr>
                    <td rowspan="3">VAN YÜZÜNCÜ YIL Üniv. Türk Dili ve Edebiyatı</td>
                    <td>2023</td>
                    <td>20+1</td>
                    <td>59.454</td>
                    <td>371,04977</td>

                </tr>
                <tr>
                    <td>2022</td>
                    <td>20+1</td>
                    <td>64.258</td>
                    <td>369,30985</td>

                </tr>
                <tr>
                    <td>2021</td>
                    <td>20+1</td>
                    <td>56.630</td>
                    <td>325,03755</td>

                </tr>
            </tbody>
        </table>
<h3 class="text-center">İngiliz Dili ve Edebiyatı Yerleştirme Bilgileri</h3>
  <table class="table table-bordered">
    <tr>
        <th>2023</th>
        <th>YERLEŞEN SON KİŞİ</th>
        <th>YER.</th>
        <th>TYT TÜRKÇE</th>
        <th>TYT SOS</th>
        <th>TYT MAT.</th>
        <th>TYT FEN</th>
        <th>AYT EDE</th>
        <th>AYT TAR 1</th>
        <th>AYT COĞ 1</th>
        <th>AYT TAR 2</th>
        <th>AYT COĞ 2</th>
        <th>AYT FEL</th>
        <th>AYT DİN</th>
    </tr>
    <tr>
        <td></td>
        <td>OBP</td>
        <td></td>
        <td>40</td>
        <td>20</td>
        <td>40</td>
        <td>20</td>
        <td>24</td>
        <td>10</td>
        <td>6</td>
        <td>11</td>
        <td>11</td>
        <td>12</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Marmara Üniversitesi Türk Dili ve Edebiyatı</td>
        <td>425,50287</td>
        <td>20</td>
        <td>39,00</td>
        <td>14,25</td>
        <td>8,75</td>
        <td>1,00</td>
        <td>18,75</td>
        <td>5,75</td>
        <td>2,75</td>
        <td>7,00</td>
        <td>7,75</td>
        <td>8,50</td>
        <td>3,75</td>
    </tr>
    <tr>
        <td>Van Yüzüncü Yıl Üniversitesi Türk Dili ve Edebiyatı</td>
        <td>-</td>
        <td>20</td>
        <td>30,50</td>
        <td>15,50</td>
        <td>20,25</td>
        <td>0,50</td>
        <td>12,00</td>
        <td>3,25</td>
        <td>1,25</td>
        <td>6,75</td>
        <td>3,50</td>
        <td>20</td>
        <td>30,50</td>
    </tr>
</table>

    </div>
</div>
</body>
</html>