<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">Yazılım Mühendisliği</h3>
    <p>Yazılım mühendisliği (Software Engineering), yazılımlarla ilgilenen bir bilim dalıdır. Bu bilimin temsilcileri olarak yazılım mühendisleri, kullanıcıların ihtiyaçları doğrultusunda oluşturulacak yazılımın gereksinimlerini, tasarımını ve yapısını inceler ya da programlama dillerini kullanarak yazılımı meydana getirirler.</p>
    <p>Bu bilim dalının temsilcisi olarak unvanlandırılan yazılım mühendisleri, yaygın olarak son kullanıcı odaklı olarak çalışmalar gerçekleştirir. Birçok yazılım mühendisi, son kullanıcıları hesaba katarak yeni yazılımlar ve yeni dizaynlar oluşturur ve var olan bir yazılımı son kullanıcı ihtiyaçlarını çözümlemek üzere iyileştirir.</p>
    <p>Yazılım mühendisliği tercih etmek isteyen öğrencilerde bulunması gereken özellikler şunlardır:</p>
    <ul>
        <li>Sistematik tekniklere maruz kalma, yani yazılım mühendisliği ilkelerine aşinalıkları olmalıdır.</li>
        <li>Proje alanlarının akıllı teknik verilerini bilmelidirler. (Alan bilgisi)</li>
        <li>Akıllı programlama yeteneklerine sahip olmalıdırlar.</li>
        <li>Akıllı iletişim becerilerine sahip olmalıdırlar.</li>
        <li>Yüksek motivasyona sahip olmalıdırlar.</li>
        <li>Uygulamalı bilimle ilgili temel verilere sahip olmalıdırlar.</li>
        <li>Zekalarını yüksek seviyede kullanabiliyor olmalıdırlar.</li>
        <li>Karmaşık şeyleri takım halinde anlayabilmelidirler.</li>
        <li>Disiplinli olmalıdırlar.</li>
    </ul>
</div>

<div class="container mt-5">
    <h3 class="text-center">Yazılım Mühendisliği Yerleştirme Bilgileri</h3>
    <div class="table-responsive">
       <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>Sakarya Üniversitesi</td>
    <td>467,537</td>
    <td>75</td>
    <td>32,5</td>
    <td>15</td>
    <td>29,75</td>
    <td>15</td>
    <td>30,5</td>
    <td>7,75</td>
    <td>11,75</td>
    <td>9,25</td>
  </tr>
  <tr>
    <td>Aksaray Üniversitesi</td>
    <td>395,632</td>
    <td>39</td>
    <td>29</td>
    <td>12</td>
    <td>21,75</td>
    <td>16,5</td>
    <td>24,25</td>
    <td>7,75</td>
    <td>7,25</td>
    <td>4,75</td>
  </tr>
</table>

    </div>
</div>


</body>
</html>