<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">ZİRAAT MÜHENDİSLİĞİ</h3>
    <p> Ziraat Mühendisliği, üniversitelerde eğitimi verilmekte olan 4 yıllık lisans bölümüdür. Sayısal puan türüne göre öğrenci kabul etmektedir.2023  yılı YÖK verilerine verilerine göre sadece 1 ünüversitede faaliyet göstermektedir. Ziraat Mühendisliği, tarımsal üretim ve işleme mühendisliğidir. Ziraat mühendisliği, mekanik, inşaat, elektrik, Gıda bilimi ve kimya mühendisliği prensiplerinin disiplinlerini tarım prensipleri bilgisi ile teknolojik prensiplere göre birleştirir. Bu disiplinin temel amacı, tarımsal uygulamaların etkinliğini ve sürdürülebilirliğini arttırmaktır.
    </p>
    <p>Ziraat Mühendisliği, tarım ekipmanlarının ve makinelerinin tasarımı, yapımı ve iyileştirilmesi ile ilgili mühendislik alanıdır. Barajlar, su depoları, depolar ve diğer yapılar gibi tarımsal altyapı tasarlar ve inşa ederler. Ayrıca büyük çiftliklerde kirlilik kontrolü için mühendislik çözümlerine de yardımcı olabilirler. Bazı ziraat mühendisleri yosun ve tarımsal atık gibi gıda dışı kaynaklardan yeni biyoyakıt formları geliştirmektedir. Bu tür yakıtlar, gıda arzını tehlikeye atmadan, ekonomik ve sürdürülebilir bir şekilde benzinin yerini alabilir.
</p>

    <h3 class="text-center">Ziraat Mühendisliği Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Üniversite Adı</th>
                <th>Yıl</th>
                <th>Kontenjan</th>
                <th>Başarı Sırası</th>
                <th>Puanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">BİLECİK ŞEYH EDEBALİ Ziraat mühendisliği</td>
                <td>2023</td>
                <td>60+2</td>
                <td>447.440</td>
                <td>273,93228</td>
            </tr>

            <tr>
                <td>2022</td>
                <td>45+2</td>
                <td>382.655</td>
                <td>275,49843</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>45+2</td>
                <td>377.148</td>
                <td>226,92597</td>
            </tr>

        </tbody>
    </table>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>
  <tr>
    <td>BİLECİK ŞEYH EDEBALİ Ziraat mühendisliği</td>
    <td>273,93228</td>
    <td>60</td>
    <td>28,00</td>
    <td>2,00</td>
    <td>16,75</td>
    <td>0</td>
    <td>13,25</td>
    <td>1,25</td>
    <td>-0,25</td>
    <td>-0,50</td>
  </tr>

</table>

</div>

</div>


</body>
</html>