<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 class="text-center">ÇOCUK GELİŞİMİ</h3>
<p>Çocuk Gelişimi Bölümü, doğumdan onsekiz yaşına kadar çocukların (resmi ve gayri resmi) gereksinimlerinin saptanması, özel durumları bulunan çocukların gelişimine yardımcı olacak yetkin elemanların yetiştirilmesini amaçlayan eğitim programıdır. Çocuk gelişiminin hem 2 yıllık önlisans, hem de 4 yıllık lisans programı bulunmaktadır. Çocuk gelişimi bölümünde çocukların zihinsel başta olmak üzere, sosyal ve duygusal her konuda desteklenmesi adına eğitim verilir. Çocuk gelişim uzmanları genellikle hastane ve okullarda görev almaktadır.</p>
<p>Çocuk gelişimi alanında çalışacak adaylarda;</p>
<ul>
    <li>Çocuklarla iletişim kurmayı sevmek,</li>
    <li>İş birliği içerisinde bulunarak eğlenceli organizasyonlar yapabilmek,</li>
    <li>Microsoft Office programlarına hakim olmak,</li>
    <li>Gelişmeye ve öğrenmeye her zaman açık olmak,</li>
    <li>Değerlendirme ve sonuca doğru ulaşma yetisine sahip olmak,</li>
    <li>Eğlenceli ve güler yüzlü olmak.</li>
</ul>

<h3 class="text-center">Çocuk Gelişimi Fakülteleri Başarı Tablosu</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ÜNİVERSİTE ADI</th>
                <th>YILI</th>
                <th>KONTENJAN</th>
                <th>BAŞARI SIRASI</th>
                <th>PUANI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">Ankara Üniversitesi<br>Çocuk Gelişimi Fakültesi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>157.335</td>
                <td>351,20596</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>55+2</td>
                <td>178.915</td>
                <td>349,16634</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>65+2</td>
                <td>168.196</td>
                <td>294,54520</td>
            </tr>
            <tr>
                <td rowspan="3">On Dokuz Mayıs Üniversitesi<br>Çocuk Gelişimi Fakültesi</td>
                <td>2023</td>
                <td>40+1</td>
                <td>210.172</td>
                <td>336,83502</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>40+1</td>
                <td>249.194</td>
                <td>330,11722</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="3">Kırıkkale Üniversitesi<br>Çocuk Gelişimi Fakültesi</td>
                <td>2023</td>
                <td>60+2</td>
                <td>363.859</td>
                <td>307,20452</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>60+2</td>
                <td>358.916</td>
                <td>308,17326</td>
            </tr>
            <tr>
                <td>2021</td>
                <td>60+2</td>
                <td>427.197</td>
                <td>243,4520</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Çocuk Gelişimi Yerleştirme Bilgileri</h3>
    <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER.</th>
    <th>TYT TÜRKÇE</th>
    <th>TYT SOSYAL</th>
    <th>TYT MAT.</th>
    <th>TYT FEN</th>
    <th>AYT MAT.</th>
    <th>AYT FİZİK</th>
    <th>AYT KİMYA</th>
    <th>AYT BİYO.</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>14</td>
    <td>13</td>
    <td>13</td>
  </tr>

  <tr>
    <td>Ankara Üniversitesi Çocuk Gelişimi Fakültes</td>
    <td>351,20596</td>
    <td></td>
    <td>25,50</td>
    <td>10,50</td>
    <td>19,00</td>
    <td>1,00</td>
    <td>9,25</td>
    <td>14,75</td>
    <td>4,75</td>
    <td>4,75</td>
  </tr>

  <tr>
    <td>Kırıkkale Üniversitesi Çocuk Gelişimi Fakültesi</td>
    <td>307,20452</td>
    <td></td>
    <td>27,50</td>
    <td>11,25</td>
    <td>11,5</td>
    <td>0,00</td>
    <td>10,75</td>
    <td>10,00</td>
    <td>2,00</td>
    <td>4,75</td>
  </tr>
</table>
</div>



</body>
</html>