<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kimyager</title>
</head>
<body>
<h2 class="text-center">Özel Eğitim Öğretmenliği</h2>
  <p>
    Özel Eğitim Öğretmenliği, herhangi bir zihinsel, duygusal ya da fiziksel engeli olan bireylerin eğitim hayatlarına kesintisiz devam edebilmeleri için kalifiye hale gelmiş öğretmenlerin yetiştirilmesini amaçlayan bir bölümdür.</p>

<p>Özel Eğitim Öğretmenleri, alışılagelmiş öğretmenlik tekniklerinin yetersiz kaldığı noktalarda almış oldukları eğitimleri ışığında ihtiyaç duyan öğrencilere uygulayarak onların öğrenimlerinde fayda sağlarlar.
</p>
<p>Özel eğitim öğretmenliği yapacak adaylarda; </p>
<ul> dikkat,

    <li>dikkat,</li>
    <li>sabır,</li>
    <li>pozitiflik,</li>
    <li>sevecenlik ve duyarlılık gibi kişisel özellikler aranır. </li>
    <li>Ayrıca; planlı çalışma, güçlü iletişim ve sorun çözme yetenekleri de adaylarda aranan özellikler arasında yer alır.</li>
  </ul>


<div class="container mt-5">
  <h3 class="text-center">Özel Eğitim Öğretmenliği Üniversite Başarı Tablosu</h3>
    <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Üniversite Adı</th>
        <th>Yıl</th>
        <th>Kontenjan</th>
        <th>Başarı Sırası</th>
        <th>Puanı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4">Hacettepe Üniversitesi Özel Eğitim Öğretmenliği</td>
        <td>2023</td>
        <td>40 +1</td>
        <td>1.448</td>
        <td>457,35636</td>
      </tr>

      <tr>
        <td>2022</td>
        <td>60+2</td>
        <td>3.372</td>
        <td>444,23147</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>60+2</td>
        <td>2.282</td>
        <td>408,60672</td>
      </tr>
      <tr>
        <td>2020</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="4">Kırıkkale üniversitesi Özel Eğitim Öğretmenliği</td>
        <td>2023</td>
        <td>60+2</td>
        <td>13.844</td>
        <td>410,22544</td>
      </tr>

      <tr>
        <td>2022</td>
        <td>60+2</td>
        <td>18.206</td>
        <td>405,59801</td>
      </tr>
      <tr>
        <td>2021</td>
        <td>60+2</td>
        <td>14.084</td>
        <td>366,02179</td>
      </tr>
      <tr>
        <td>2020</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


<h3 class="text-center">Özel Eğitim Öğretmenliği Yerleştirme Bilgileri</h3>
  <table class="table table-bordered">
  <tr>
    <th>2023</th>
    <th>YERLEŞEN SON KİŞİ</th>
    <th>YER</th>
    <th>TYT TÜR</th>
    <th>TYT SOS</th>
    <th>TYT MAT</th>
    <th>TYT FEN</th>
    <th>AYT EDE</th>
    <th>AYT TAR 1</th>
    <th>AYT COĞ 1</th>
    <th>AYT TAR 2</th>
    <th>AYT COĞ 2</th>
    <th>AYT FEL</th>
    <th>AYT DİN</th>
  </tr>
  <tr>
    <td></td>
    <td>OBP</td>
    <td></td>
    <td>40</td>
    <td>20</td>
    <td>40</td>
    <td>20</td>
    <td>24</td>
    <td>10</td>
    <td>6</td>
    <td>11</td>
    <td>11</td>
    <td>12</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Hacettepe Üniversitesi Özel Eğitim Öğretmenliği</td>
    <td>457,3563</td>
    <td>40</td>
    <td>37.5</td>
    <td>16,25</td>
    <td>4,00</td>
    <td>-0,25</td>
    <td>21,5</td>
    <td>10,0</td>
    <td>3,50</td>
    <td>11,0</td>
    <td>7,25</td>
    <td>9,50</td>
    <td>5,00</td>
  </tr>
  <tr>
    <td>Kırıkkale üniversitesi Özel Eğitim Öğretmenliği</td>
    <td>410,22544</td>
    <td>60</td>
    <td>33,75</td>
    <td>12,50</td>
    <td>3,50</td>
    <td>1,00</td>
    <td>21,5</td>
    <td>6,25</td>
    <td>2,25</td>
    <td>7,25</td>
    <td>6,25</td>
    <td>8,25</td>
    <td>4,75</td>
  </tr>
</table>


    </div>
</div>
</body>
</html>
